<template>
	<div class="my-container">
		<v-card height="100vh" class="my-panel" width="18vw">
			<v-navigation-drawer
				width="18vw"
				dark
				color="#29c63e"
				fixed
				permanent
			>
				<v-list-item>
					<v-list-item-content>
						<v-list-item-title
							class="title d-flex justify-center noselect"
						>
							<img
								:src="src"
								style="width: 50%; border-radius: 50%;"
							/>
						</v-list-item-title>
						<v-list-item-subtitle
							class="d-flex justify-center mt-3 noselect"
						>
							ADMINISTRADOR
						</v-list-item-subtitle>
					</v-list-item-content>
				</v-list-item>

				<v-divider></v-divider>

				<v-list dense nav>
					<v-list-item
						v-for="item in items"
						:key="item.title"
						link
						@click="activateItem(item)"
						color="white"
						:input-value="item.inputValue"
					>
						<v-list-item-icon>
							<v-icon>{{ item.icon }}</v-icon>
						</v-list-item-icon>

						<v-list-item-content>
							<v-list-item-title>{{
								item.title
							}}</v-list-item-title>
						</v-list-item-content>
					</v-list-item>
				</v-list>
			</v-navigation-drawer>
		</v-card>
		<div class="content">
			<APHome v-if="active === 'HOME'"></APHome>
			<APProducts v-else-if="active === 'PRODUCTS'"></APProducts>
			<APLogOut v-else-if="active === 'LOG-OUT'"></APLogOut>
		</div>
	</div>
</template>

<style scoped>
	.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.my-container {
		display: flex;
	}

	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 82vw;
	}
</style>

<script>
	import APHome from '@/components/AP-Home.vue';
	import APProducts from '@/components/AP-Products.vue';
	import APLogOut from '@/components/AP-LogOut.vue';

	export default {
		name: 'AdminPanel',
		components: {
			APHome,
			APProducts,
			APLogOut,
		},
		data() {
			return {
				src: require('@/assets/logo.png'),
				active: 'HOME',
				items: [
					{
						title: 'Inicio',
						icon: 'mdi-view-dashboard',
						value: 'HOME',
						inputValue: true,
					},
					{
						title: 'Productos',
						icon: 'mdi-warehouse',
						value: 'PRODUCTS',
						inputValue: false,
					},
					{
						title: 'Pedidos',
						icon: 'mdi-clipboard-check-multiple-outline',
						value: 'ORDERS',
						inputValue: false,
					},
					{
						title: 'Clientes',
						icon: 'mdi-account-group-outline',
						value: 'CLIENTS',
						inputValue: false,
					},
					{
						title: 'Administradores',
						icon: 'mdi-account-star-outline',
						value: 'ADMINS',
						inputValue: false,
					},
					{
						title: 'Salir',
						icon: 'mdi-exit-to-app',
						value: 'LOG-OUT',
						inputValue: false,
					},
				],
				right: null,
			};
		},

		mounted() {
			this.checkAccessToken();
		},

		methods: {
			async checkAccessToken() {
				if (!localStorage.getItem('DNATA')) {
					this.$router.push({ name: 'LoginAdmin' });
					return;
				}

				const axios = require('axios').default;
				let response = '';
				let url = 'http://localhost:8888/check-access-token/';
				let config = {
					method: 'get',
					url: url,
					headers: {
						Authorization:
							'Bearer ' + localStorage.getItem('DNATA'),
					},
					validateStatus: function(status) {
						return (
							status === 200 || status === 401 || status === 500
						);
					},
				};

				try {
					response = await axios(config);
				} catch (error) {
					console.log('Error chequeando el access token');
					return;
				}

				switch (response.status) {
					case 200:
						// aqui el token es valido
						break;

					case 401:
					case 500:
						this.$router.push({ name: 'LoginAdmin' });
						break;
				}
			},

			activateItem(item) {
				this.active = item.value;
				item.inputValue = true;

				for (let _item_ of this.items) {
					if (_item_ === item) {
						continue;
					} else {
						_item_.inputValue = false;
					}
				}

				if (item.value === 'LOG-OUT') {
					this.logOut();
					return;
				}
			},

			async logOut() {
				const axios = require('axios').default;
				let response = '';
				let url = 'http://localhost:8888/log-out/?';
				let config = {
					method: 'delete',
					url: url,
					headers: {
						Authorization:
							'Bearer ' + localStorage.getItem('DNATA'),
					},
					validateStatus: function(status) {
						return (
							status === 200 || status === 401 || status === 500
						);
					},
				};

				try {
					response = await axios(config);
				} catch (error) {
					console.log('Error Cerrando sesión');
					return;
				}

				switch (response.status) {
					case 200:
						localStorage.removeItem('DNATA');
						this.$router.push({ name: 'LoginAdmin' });
						break;

					case 401:
					case 500:
						console.log('error interno');
						break;
				}
			},
		},
	};
</script>
