<template>
	<div class="main-container">
		<v-dialog
			v-model="dialogLoginSuccess"
			width="400"
			:scrollable="false"
			:persistent="true"
			class="d-flex"
		>
			<div class="welcome-container">
				<div class="welcome-title">
					Bienvenido a Delicias Norte Online.
				</div>
				<div class="welcome-body">
					Elber, Acabas de iniciar Sesión en Delicias Nortes Online,
					Ahora Podrás Disfrutar de la modalidad de realizar pedidos!
				</div>
				<div class="welcome-buttons">
					<v-btn
						color="#29c63e"
						text
						@click="ChangeStateDialogLoginSuccess(false)"
					>
						Entendido
					</v-btn>
				</div>
			</div>
		</v-dialog>
		<v-dialog
			v-model="dialogLogOutSuccess"
			width="400"
			:scrollable="false"
			:persistent="true"
			class="d-flex"
		>
			<div class="log-out-container">
				<div class="log-out-title">
					Cierre de Sesión
				</div>
				<div class="log-out-body">
					Elber, Cerraste Sesión con éxito en Delicias Nortes Online,
					puedes ingresar nuevamente cuando lo deseés haciendo click
					en el botón de acceso
				</div>
				<div class="log-out-buttons">
					<v-btn
						color="#29c63e"
						text
						@click="changeStateDialogLogOutSuccess(false)"
					>
						Aceptar
					</v-btn>
				</div>
			</div>
		</v-dialog>
		<v-dialog
			v-model="dialogEditAccount"
			width="600"
			:scrollable="false"
			:persistent="true"
			class="d-flex"
		>
			<div class="edit-account-container">
				<v-snackbar
					v-model="snackbar"
					top
					:color="snackbarColor"
					:timeout="4000"
				>
					<div class="snackbar-text">
						{{ snackbarText }}
					</div>
					<v-btn color="#29c63e" text @click="snackbar = false">
						Aceptar
					</v-btn>
				</v-snackbar>
				<div class="edit-account-title">
					<div class="content noselect">
						Configuración de la Cuenta
					</div>
					<div class="title-icon">
						<v-icon color="white" size="40">
							mdi-account-cog-outline
						</v-icon>
					</div>
				</div>
				<div class="edit-account-body">
					<div class="account-body-form-container">
						<div class="form-column">
							<div class="label noselect">
								Nombre
							</div>
							<div class="input-container">
								<div class="inputs">
									<div class="input-icon">
										<v-icon color="white"
											>mdi-account</v-icon
										>
									</div>
									<input
										placeholder="Ingresa tu Nombre"
										type="text"
										class="my-input"
										id="client-name"
										v-model="editedClient.name"
										@blur="validateName"
										@keyup.enter="
											action(
												'client-name',
												'account-tooltip1',
												'save-progress-name'
											)
										"
										disabled
									/>
								</div>
								<div class="error-msg">
									*{{ errorMsgs.name }}
								</div>
							</div>
							<div class="edit-icon-container">
								<div
									class="edit-icon"
									@mouseenter="
										changeIconColor(
											'white',
											'icon-name',
											'account-tooltip1',
											'show'
										)
									"
									@mouseleave="
										changeIconColor(
											'#29c63e',
											'icon-name',
											'account-tooltip1',
											'hide'
										)
									"
									@click="
										action(
											'client-name',
											'account-tooltip1',
											'save-progress-name'
										)
									"
								>
									<v-icon id="icon-name" color="#29c63e">
										{{ edits[0].iconAction }}
									</v-icon>
								</div>
								<div
									class="save-progress"
									id="save-progress-name"
								>
									<v-progress-circular
										indeterminate
										color="#29c63e"
									></v-progress-circular>
								</div>
								<div
									class="tooltip-edit-icon"
									id="account-tooltip1"
								>
									{{ edits[0].tooltip }}
								</div>
							</div>
						</div>
						<div class="form-column">
							<div class="label noselect">
								Apellido
							</div>
							<div class="input-container">
								<div class="inputs">
									<div class="input-icon">
										<v-icon color="white"
											>mdi-account</v-icon
										>
									</div>
									<input
										placeholder="Ingresa tu Apellido"
										type="text"
										class="my-input"
										id="last_name"
										v-model="editedClient.lastName"
										@blur="validateLastName"
										@keyup.enter="
											action(
												'last_name',
												'account-tooltip2',
												'save-progress-lastName'
											)
										"
										disabled
									/>
								</div>
								<div class="error-msg">
									*{{ errorMsgs.lastName }}
								</div>
							</div>
							<div class="edit-icon-container">
								<div
									class="edit-icon"
									@mouseenter="
										changeIconColor(
											'white',
											'icon-last-name',
											'account-tooltip2',
											'show'
										)
									"
									@mouseleave="
										changeIconColor(
											'#29c63e',
											'icon-last-name',
											'account-tooltip2',
											'hide'
										)
									"
									@click="
										action(
											'last_name',
											'account-tooltip2',
											'save-progress-lastName'
										)
									"
								>
									<v-icon id="icon-last-name" color="#29c63e">
										{{ edits[1].iconAction }}
									</v-icon>
								</div>
								<div
									class="save-progress"
									id="save-progress-lastName"
								>
									<v-progress-circular
										indeterminate
										color="#29c63e"
									></v-progress-circular>
								</div>
								<div
									class="tooltip-edit-icon"
									id="account-tooltip2"
								>
									{{ edits[1].tooltip }}
								</div>
							</div>
						</div>
						<div class="form-column">
							<div class="label noselect">
								Cedula
							</div>
							<div class="input-container">
								<div class="inputs">
									<div class="input-icon">
										<v-icon color="white"
											>mdi-id-card</v-icon
										>
									</div>
									<input
										placeholder="Ingresa tu Cédula"
										type="text"
										class="my-input"
										id="cedula"
										v-model="editedClient.cedula"
										@blur="validateCedula"
										@keyup.enter="
											action(
												'cedula',
												'account-tooltip3',
												'save-progress-cedula'
											)
										"
										disabled
									/>
								</div>
								<div class="error-msg">
									*{{ errorMsgs.cedula }}
								</div>
							</div>
							<div class="edit-icon-container">
								<div
									class="edit-icon"
									@mouseenter="
										changeIconColor(
											'white',
											'icon-cedula',
											'account-tooltip3',
											'show'
										)
									"
									@mouseleave="
										changeIconColor(
											'#29c63e',
											'icon-cedula',
											'account-tooltip3',
											'hide'
										)
									"
									@click="
										action(
											'cedula',
											'account-tooltip3',
											'save-progress-cedula'
										)
									"
								>
									<v-icon id="icon-cedula" color="#29c63e">
										{{ edits[2].iconAction }}
									</v-icon>
								</div>
								<div
									class="save-progress"
									id="save-progress-cedula"
								>
									<v-progress-circular
										indeterminate
										color="#29c63e"
									></v-progress-circular>
								</div>
								<div
									class="tooltip-edit-icon"
									id="account-tooltip3"
								>
									{{ edits[2].tooltip }}
								</div>
							</div>
						</div>
						<div class="form-column">
							<div class="label noselect">
								Correo
							</div>
							<div class="input-container">
								<div class="inputs">
									<div class="input-icon">
										<v-icon color="white"
											>mdi-email-outline</v-icon
										>
									</div>
									<input
										placeholder="Ingresa tu Correo Eletrónico"
										type="text"
										class="my-input"
										id="email"
										v-model="editedClient.email"
										@blur="validateEmail"
										@keyup.enter="
											action(
												'email',
												'account-tooltip4',
												'save-progress-email'
											)
										"
										disabled
									/>
								</div>
								<div class="error-msg">
									*{{ errorMsgs.email }}
								</div>
							</div>
							<div class="edit-icon-container">
								<div
									class="edit-icon"
									@mouseenter="
										changeIconColor(
											'white',
											'icon-email',
											'account-tooltip4',
											'show'
										)
									"
									@mouseleave="
										changeIconColor(
											'#29c63e',
											'icon-email',
											'account-tooltip4',
											'hide'
										)
									"
									@click="
										action(
											'email',
											'account-tooltip4',
											'save-progress-email'
										)
									"
								>
									<v-icon id="icon-email" color="#29c63e">
										{{ edits[3].iconAction }}
									</v-icon>
								</div>
								<div
									class="save-progress"
									id="save-progress-email"
								>
									<v-progress-circular
										indeterminate
										color="#29c63e"
									></v-progress-circular>
								</div>
								<div
									class="tooltip-edit-icon"
									id="account-tooltip4"
								>
									{{ edits[3].tooltip }}
								</div>
							</div>
						</div>
						<div class="form-column">
							<div class="label noselect">
								Contraseña
							</div>
							<div class="input-container">
								<div class="inputs">
									<div
										class="input-icon input-icon-password"
										@click="clickLabelPassword"
									>
										<v-icon color="white"
											>mdi-eye-outline</v-icon
										>
									</div>
									<input
										placeholder="Ingresa tu Contraseña"
										:type="inputPassword"
										class="my-input"
										id="client-password"
										v-model="editedClient.password"
										@blur="validatePassword"
										@keyup.enter="
											action(
												'client-password',
												'account-tooltip5',
												'save-progress-password'
											)
										"
										disabled
									/>
								</div>
								<div class="error-msg">
									*{{ errorMsgs.password }}
								</div>
							</div>
							<div class="edit-icon-container">
								<div
									class="edit-icon"
									@mouseenter="
										changeIconColor(
											'white',
											'icon-password2',
											'account-tooltip5',
											'show'
										)
									"
									@mouseleave="
										changeIconColor(
											'#29c63e',
											'icon-password2',
											'account-tooltip5',
											'hide'
										)
									"
									@click="
										action(
											'client-password',
											'account-tooltip5',
											'save-progress-password'
										)
									"
								>
									<v-icon id="icon-password2" color="#29c63e">
										{{ edits[4].iconAction }}
									</v-icon>
								</div>
								<div
									class="save-progress"
									id="save-progress-password"
								>
									<v-progress-circular
										indeterminate
										color="#29c63e"
									></v-progress-circular>
								</div>
								<div
									class="tooltip-edit-icon"
									id="account-tooltip5"
								>
									{{ edits[4].tooltip }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="edit-account-buttons">
					<v-btn
						color="#29c63e"
						text
						@click="changeStateDialogEditAccount(false)"
					>
						Cerrar
					</v-btn>
				</div>
			</div>
		</v-dialog>
		<Navbar class="my-navbar"></Navbar>
		<div class="index">
			<Carousel></Carousel>
		</div>
		<Title content="Productos"></Title>
		<div class="index">
			<Products></Products>
			<SloganCard></SloganCard>
			<Banners2></Banners2>
		</div>
		<Title content="Quienes Somos" class="margin"></Title>
		<div class="index">
			<About></About>
		</div>
		<Footer></Footer>
	</div>
</template>

<style scoped>
	.index {
		color: white;
		padding: 0 7%;
	}

	.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.my-navbar {
		position: fixed;
		z-index: 3;
	}

	.margin {
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.welcome-container,
	.log-out-container {
		display: flex;
		flex-direction: column;
		background: white;
		height: 400px;
	}

	.log-out-container {
		height: 300px;
	}

	.welcome-title,
	.log-out-title {
		background: #29c63e;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2%;
		text-align: center;
		font-size: 1.6rem;
		font-family: cursive;
	}

	.welcome-body,
	.log-out-body {
		height: 65%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: cursive;
		font-size: 1.3rem;
	}

	.welcome-buttons,
	.log-out-buttons {
		height: 15%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	.welcome-buttons button,
	.log-out-buttons button {
		height: 100% !important;
		border: 1px solid;
		margin-bottom: 1%;
		margin-right: 1%;
	}

	.edit-account-container {
		display: flex;
		flex-direction: column;
		background: white;
		height: 550px;
	}

	.edit-account-title {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 15%;
		background: #29c63e;
		color: white;
		font-family: cursive;
		font-size: 1.5rem;
	}

	.title-icon {
		margin-right: -4%;
		margin-left: 4%;
	}

	.edit-account-body {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70%;
	}

	.account-body-form-container {
		display: flex;
		height: 90%;
		width: 80%;
		margin-top: 5%;
		flex-wrap: wrap;
	}

	.edit-account-buttons {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		height: 15%;
	}

	.edit-account-buttons button {
		height: 60% !important;
		border: 1px solid;
		margin-right: 1%;
		margin-bottom: 1%;
	}

	.form-column {
		display: flex;
		width: 100%;
		height: 20%;
	}

	.label {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 100%;
		width: 20%;
	}

	.input-container {
		display: flex;
		width: 80%;
		height: 100%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 65%;
	}

	.edit-icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 15%;
	}

	.edit-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50%;
		width: 50%;
		border: #29c63e 1px solid;
		cursor: pointer;
	}

	.edit-icon:hover {
		background: #29c63e;
	}

	.tooltip-edit-icon {
		position: absolute;
		height: 5%;
		background: rgba(0, 0, 0, 0.384);
		color: white;
		margin-left: 4.5%;
		display: none;
		align-items: center;
		justify-content: center;
		width: 5%;
	}

	.save-progress {
		position: absolute;
		height: 5%;
		margin-left: 4.5%;
		display: none;
		align-items: center;
		justify-content: center;
		width: 5%;
	}

	.inputs {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 50%;
	}

	.input-icon {
		height: 100%;
		width: 20%;
		display: flex;
		background: #29c63e;
		justify-content: center;
		align-items: center;
	}

	.input-icon-password {
		cursor: pointer;
	}

	.my-input {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		border-right: 1px solid black;
		width: 80%;
		height: 100%;
		text-align: center;
	}

	.my-input:focus {
		border: #29c63e 2px solid;
		outline: none;
	}

	.error-msg {
		visibility: hidden;
		height: 0px;
		transition-property: height;
		transition-duration: 0.3s;
		color: red;
		text-align: center;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		border: 1px solid #29c63e;
		-webkit-text-fill-color: black;
		-webkit-box-shadow: 0 0 0px 1000px white inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	input[type='text']:disabled,
	input[type='password']:disabled {
		background: #dddddd67;
	}

	.snackbar-text {
		color: #29c63e;
	}
</style>

<script>
	// @ is an alias to /src
	import Navbar from '@/components/Navbar.vue';
	import Carousel from '@/components/Carousel.vue';
	import Title from '@/components/Title.vue';
	import Products from '@/components/Products.vue';
	// import Banners from '@/components/Banners.vue';
	import SloganCard from '@/components/SloganCard.vue';
	import Banners2 from '@/components/Banners2.vue';
	import About from '@/components/About.vue';
	import Footer from '@/components/Footer.vue';
	import { mapState, mapMutations } from 'vuex';

	export default {
		name: 'Index',
		components: {
			Navbar,
			Carousel,
			Title,
			Products,
			// Banners,
			SloganCard,
			Banners2,
			About,
			Footer
		},

		data() {
			return {
				client: {
					name: '',
					lastName: '',
					cedula: '',
					email: '',
					password: ''
				},
				editedClient: {},
				errorMsgs: {
					name: '',
					lastName: '',
					cedula: '',
					email: '',
					password: ''
				},
				valids: {
					name: false,
					lastName: false,
					cedula: false,
					email: false,
					password: false
				},
				edits: [
					{
						id: 'client-name',
						editing: false,
						iconAction: 'mdi-pencil-outline',
						tooltip: 'Editar'
					},
					{
						id: 'last_name',
						editing: false,
						iconAction: 'mdi-pencil-outline',
						tooltip: 'Editar'
					},
					{
						id: 'cedula',
						editing: false,
						iconAction: 'mdi-pencil-outline',
						tooltip: 'Editar'
					},
					{
						id: 'email',
						editing: false,
						iconAction: 'mdi-pencil-outline',
						tooltip: 'Editar'
					},
					{
						id: 'client-password',
						editing: false,
						iconAction: 'mdi-pencil-outline',
						tooltip: 'Editar'
					}
				],
				snackbar: false,
				snackbarText: 'Hola Mundo',
				snackbarColor: 'white',
				inputPassword: 'password'
			};
		},

		computed: {
			...mapState([
				'dialogLoginSuccess',
				'dialogLogOutSuccess',
				'dialogEditAccount',
				'userLogin'
			])
		},

		mounted() {
			window.document.title = this.$route.meta.title;
			this.checkIfUserLoged();
		},

		updated() {
			if (
				this.dialogLoginSuccess &&
				this.userLogin &&
				this.client.name === ''
			) {
				this.getClient();
			} else if (!this.dialogLoginSuccess && this.dialogLogOutSuccess) {
				for (let property in this.client) {
					this.client[property] = '';
				}
			}
		},

		methods: {
			changeIconColor(color, icon, tooltip, action) {
				document.getElementById(icon).style.color = color;

				if (action === 'show') {
					document.getElementById(tooltip).style.display = 'flex';
				} else {
					document.getElementById(tooltip).style.display = 'none';
				}
			},

			clickLabelPassword() {
				if (this.inputPassword === 'text') {
					this.inputPassword = 'password';
				} else {
					this.inputPassword = 'text';
				}
			},

			async checkIfUserLoged() {
				if (!localStorage.getItem('DNATC')) {
					this.changeStateUserLogin(false);
					return;
				}

				const axios = require('axios').default;
				let response = '';
				let url = 'http://localhost:8888/check-access-token/';
				let config = {
					method: 'get',
					url: url,
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('DNATC')
					},
					validateStatus: function(status) {
						return (
							status === 200 || status === 401 || status === 500
						);
					}
				};

				try {
					response = await axios(config);
				} catch (error) {
					console.log('Error chequeando el access token');
					return;
				}

				switch (response.status) {
					case 200:
						this.changeStateUserLogin(true);
						this.getClient();
						break;

					case 401:
					case 500:
						this.changeStateUserLogin(false);
						localStorage.clear();
						console.log(response.data);
						break;
				}
			},

			async getClient() {
				const axios = require('axios').default;
				let response = '';
				let url = 'http://localhost:8888/client/';
				let config = {
					method: 'get',
					url: url,
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('DNATC')
					},
					validateStatus: function(status) {
						return (
							status === 200 || status === 401 || status === 500
						);
					}
				};

				try {
					response = await axios(config);
				} catch (error) {
					console.log('Error obteniendo nombre del cliente');
					return;
				}

				switch (response.status) {
					case 200:
						for (let property in response.data) {
							if (property !== 'last_name') {
								this.client[property] = response.data[property];
							} else {
								this.client.lastName = response.data[property];
							}
						}
						this.editedClient = { ...this.client };
						break;

					case 401:
					case 500:
						console.log('error interno');
						break;
				}
			},

			async action(input, tooltip, progress) {
				for (let _input_ of this.edits) {
					if (_input_.editing && _input_.id === input) {
						let result = await this.updateClient(
							input,
							tooltip,
							progress
						);

						if (result === 'INVALID_VALUE') {
							return;
						}

						_input_.editing = false;
						document.getElementById(_input_.id).disabled = true;
						document.getElementById(_input_.id).style.borderRight =
							'black 1px solid';
						document.getElementById(_input_.id).style.borderBottom =
							'black 1px solid';
						document.getElementById(_input_.id).style.borderTop =
							'black 1px solid';
						_input_.iconAction = 'mdi-pencil-outline';
						_input_.tooltip = 'Editar';

						return;
					} else if (_input_.editing && _input_.id !== input) {
						_input_.editing = false;
						_input_.iconAction = 'mdi-pencil-outline';
						_input_.tooltip = 'Editar';
						document.getElementById(_input_.id).disabled = true;
						this.editedClient = { ...this.client };
						let errors = document.getElementsByClassName(
							'error-msg'
						);
						for (let error of errors) {
							error.style.visibility = 'hidden';
							error.style.height = '0px';
						}
						document.getElementById(_input_.id).style.borderRight =
							'black 1px solid';
						document.getElementById(_input_.id).style.borderBottom =
							'black 1px solid';
						document.getElementById(_input_.id).style.borderTop =
							'black 1px solid';
						document.getElementById(_input_.id).style.borderLeft =
							'none';

						break;
					}
				}

				for (let _input_ of this.edits) {
					if (_input_.id === input) {
						_input_.editing = true;
						_input_.iconAction = 'mdi-content-save-outline';
						_input_.tooltip = 'Guardar';
						document.getElementById(_input_.id).disabled = false;
						return;
					}
				}
			},

			showMsgError(errorMsg, input, inputValue) {
				errorMsg.style.height = '20%';
				errorMsg.style.visibility = 'visible';
				input.style.border = 'red 1px solid';
				this.valids[inputValue] = false;
			},

			hiddenMsgError(errorMsg, input, inputValue) {
				errorMsg.style.visibility = 'hidden';
				errorMsg.style.height = '0px';
				input.style.border = 'rgba(11, 191, 35, 1) 1px solid';
				this.valids[inputValue] = true;
			},

			validateName() {
				let errorMsg = document.getElementsByClassName('error-msg')[0];
				let name = document.getElementById('client-name');

				if (this.editedClient.name === '') {
					this.errorMsgs.name = 'No debes dejar el Nombre vacío';
					this.showMsgError(errorMsg, name, 'name');
				} else {
					this.errorMsgs.name = '';
					this.hiddenMsgError(errorMsg, name, 'name');
				}
			},

			validateLastName() {
				let errorMsg = document.getElementsByClassName('error-msg')[1];
				let lastName = document.getElementById('last_name');

				if (this.editedClient.lastName === '') {
					this.errorMsgs.lastName =
						'No debes dejar el Apellido vacío';
					this.showMsgError(errorMsg, lastName, 'lastName');
				} else {
					this.errorMsgs.lastName = '';
					this.hiddenMsgError(errorMsg, lastName, 'lastName');
				}
			},

			validateCedula() {
				let errorMsg = document.getElementsByClassName('error-msg')[2];
				let cedula = document.getElementById('cedula');

				if (this.editedClient.cedula === '') {
					this.errorMsgs.cedula = 'No puedes dejar la Cédula vacía';
					this.showMsgError(errorMsg, cedula, 'cedula');
				} else if (this.editedClient.cedula.length < 6) {
					this.errorMsgs.cedula =
						'Ingresa un formato de Cédula válido';
					this.showMsgError(errorMsg, cedula, 'cedula');
				} else {
					this.errorMsgs.cedula = '';
					this.hiddenMsgError(errorMsg, cedula, 'cedula');
				}
			},

			validateEmail() {
				let errorMsg = document.getElementsByClassName('error-msg')[3];
				let email = document.getElementById('email');
				let format = 'xxx@xx.xx';

				if (this.editedClient.email === '') {
					this.errorMsgs.email = 'No debes dejar el Correo vacío';
					this.showMsgError(errorMsg, email, 'email');
				} else if (this.editedClient.email.search('@') === -1) {
					this.errorMsgs.email =
						'Ingresa un formato de correo valido';
					this.showMsgError(errorMsg, email, 'email');
				} else if (
					this.editedClient.email.slice(
						0,
						this.editedClient.email.search('@')
					).length < format.slice(0, format.search('@')).length
				) {
					this.errorMsgs.email = 'Primera parte Corta weon';
					this.showMsgError(errorMsg, email, 'email');
				} else if (
					this.editedClient.email
						.slice(this.editedClient.email.search('@'))
						.search('\\.') === -1
				) {
					this.errorMsgs.email =
						'No hay punto despues del @ coño de la madre';
					this.showMsgError(errorMsg, email, 'email');
				} else if (
					this.editedClient.email.slice(
						this.editedClient.email.search('@') + 1,
						this.editedClient.email.search('\\.')
					).length <
					format.slice(format.search('@') + 1, format.search('\\.'))
						.length
				) {
					this.errorMsgs.email = 'Segunda parte corta mano';
					this.showMsgError(errorMsg, email, 'email');
				} else if (
					this.editedClient.email.slice(
						this.editedClient.email.search('\\.') + 1
					).length < format.slice(format.search('\\.') + 1).length
				) {
					this.errorMsgs.email = 'Tercera parte corta cabeza e perro';
					this.showMsgError(errorMsg, email, 'email');
				} else {
					this.errorMsgs.email = '';
					this.hiddenMsgError(errorMsg, email, 'email');
				}
			},

			validatePassword() {
				let errorMsg = document.getElementsByClassName('error-msg')[4];
				let password = document.getElementById('client-password');

				if (this.editedClient.password === '') {
					this.errorMsgs.password =
						'No debes dejar la Contraseña vacía';
					this.showMsgError(errorMsg, password, 'password');
					return;
				} else {
					this.errorMsgs.password = '';
					this.hiddenMsgError(errorMsg, password, 'password');
				}

				if (this.editedClient.password.length < 8) {
					this.errorMsgs.password =
						'La Contraseña debe ser mayor a 8 Caracteres';
					this.showMsgError(errorMsg, password, 'password');
				} else {
					this.errorMsgs.password = '';
					this.hiddenMsgError(errorMsg, password, 'password');
				}
			},

			async updateClient(input, tooltip, progress) {
				input = input.replace('client-', '');

				if (input === 'last_name') {
					input = 'lastName';
				}

				switch (input) {
					case 'name':
						this.validateName();
						break;

					case 'lastName':
						this.validateLastName();
						break;

					case 'cedula':
						this.validateCedula();
						break;

					case 'email':
						this.validateEmail();
						break;

					case 'password':
						this.validatePassword();
						break;
				}

				if (!this.valids[input]) {
					return 'INVALID_VALUE';
				}

				document.getElementById(tooltip).style.display = 'none';
				document.getElementById(progress).style.display = 'flex';
				const axios = require('axios').default;
				let response = '';
				let qs = require('qs');
				let params = {};
				let url = 'http://localhost:8888/client/?';
				let config = {
					method: 'patch',
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('DNATC')
					},
					validateStatus: function(status) {
						return (
							status === 204 || status === 401 || status === 500
						);
					}
				};

				if (input === 'lastName') {
					params.last_name = this.editedClient[input];
				} else {
					params[input] = this.editedClient[input];
				}

				config.url = url += qs.stringify(params);

				try {
					response = await axios(config);
				} catch (error) {
					console.log('Error Actualizando cliente');
					return;
				}

				switch (response.status) {
					case 204:
						this.client = { ...this.editedClient };
						document.getElementById(progress).style.display =
							'none';
						this.snackbarColor = 'white';
						this.snackbar = true;
						this.snackbarText = 'Dato Actualizado con éxito';
						return true;

					case 401:
					case 500:
						console.log('error, code: ' + response.status);
						this.snackbarColor = 'red';
						this.snackbar = true;
						this.snackbarText = 'No se pudo actuzalizar el dato';
						return false;
				}
			},

			...mapMutations([
				'ChangeStateDialogLoginSuccess',
				'changeStateDialogLogOutSuccess',
				'changeStateDialogEditAccount',
				'changeStateUserLogin'
			])
		}
	};
</script>
