<template>
	<div class="my-container">
		<div class="text-center">
			<v-dialog v-model="dialog" width="500">
				<v-card>
					<v-card-title class="headline my-card-title" primary-title>
						{{ cardTitleMsg }}
					</v-card-title>

					<v-card-text class="my-card-body">
						{{ cardBodyMsg }}
						<v-icon size="70" color="red">
							mdi-account-alert-outline
						</v-icon>
					</v-card-text>

					<v-divider></v-divider>

					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="rgba(11, 191, 35, 1)"
							text
							@click="dialog = false"
						>
							Aceptar
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</div>
		<div v-if="!loading" class="not-loading">
			<div class="top-bar">
				<div class="logo-container">
					<img :src="src" />
				</div>
			</div>
			<div class="content">
				<div class="login-container">
					<div class="form-container">
						<div class="title">
							<span>Ingreso - Administrador </span>
						</div>
						<div class="input-container">
							<div class="inputs">
								<div class="label">
									<v-icon color="white">mdi-account</v-icon>
								</div>
								<input
									placeholder="Usuario"
									type="text"
									class="my-input"
									id="name"
									v-model="name"
									@keyup.enter="login"
									@blur="validateName"
								/>
							</div>
							<div class="error-msg">*{{ errorMsgs.name }}</div>
						</div>
						<div class="input-container">
							<div class="inputs">
								<div
									class="label"
									@click="clickLabelPassword"
									id="icon-password"
								>
									<v-icon color="white"
										>mdi-eye-outline</v-icon
									>
								</div>
								<input
									:type="inputPassword"
									placeholder="Contraseña"
									class="my-input"
									id="password"
									v-model="password"
									@blur="validatePassword"
									@keyup.enter="login"
								/>
							</div>
							<div class="error-msg">
								*{{ errorMsgs.password }}
							</div>
						</div>
						<div class="button-container">
							<div
								class="button-submit"
								@mouseenter="effectEnterButton"
								@mouseleave="effectLeaveButton"
								@click="login"
							>
								<div class="button-label" id="button-label">
									Ingresar
								</div>
								<div class="button-icon" id="button-icon">
									<v-icon
										color="rgba(11, 191, 35, 1)"
										size="50"
									>
										mdi-arrow-right-bold-circle-outline
									</v-icon>
								</div>
							</div>
							<v-progress-circular
								indeterminate
								color="#29c63e"
								class="ml-1"
								v-if="buttonLoading"
							></v-progress-circular>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-else class="loading">
			<div class="progress-container">
				<v-progress-circular
					:size="70"
					:width="7"
					color="rgba(11, 191, 35, 1)"
					indeterminate
				></v-progress-circular>
			</div>
			<div class="loading-label">
				Espere un momento
			</div>
		</div>
	</div>
</template>

<style scoped>
	.loading {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
		flex-direction: column;
	}
	.progress-container {
		height: 12%;
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.loading-label {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 5%;
		width: 25%;
	}
	.my-card-title {
		background: #29c63e;
		color: white;
		text-align: center;
		justify-content: center;
	}

	.my-card-body {
		padding: 10% !important;
		text-align: center;
		color: red !important;
		font-size: 1.5rem;
	}
	.my-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		height: 100vh;
		width: 100vw;
	}
	.top-bar {
		background: rgb(145, 219, 155);
		background: linear-gradient(
			90deg,
			rgba(145, 219, 155, 1) 0%,
			rgba(41, 198, 62, 1) 50%,
			rgba(145, 219, 155, 1) 100%
		);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 12vh;
		width: 100vw;

		color: white;
	}

	.logo-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 180%;
		width: 18%;
		margin-top: 5%;
	}

	img {
		height: 100%;
		width: 80%;
		border-radius: 100%;
	}

	.content {
		height: 88vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.login-container {
		height: 60%;
		width: 35%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.form-container {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		/* border: 1px solid rgba(11, 191, 35, 1); */
		box-shadow: 0px 1px 30px 1px rgba(0, 0, 0, 0.69);
		align-items: center;
	}

	.title {
		background: #29c63e;
		color: white;
		text-align: center;
		padding: 2% 0;
		width: 100%;
	}

	.input-container {
		display: flex;
		width: 80%;
		height: 33.33%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.inputs {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 35%;
	}

	.my-input {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		border-right: 1px solid black;
		width: 80%;
		height: 100%;
		text-align: center;
	}

	.label {
		height: 100%;
		width: 20%;
		display: flex;
		background: #29c63e;
		justify-content: center;
		align-items: center;
	}

	#icon-password {
		cursor: pointer;
	}

	.my-input:focus {
		border: #29c63e 2px solid;
		outline: none;
	}
	.button-submit {
		/* border: 1px solid #29c63e; */
		background: #29c63e;
		color: white;
		font-size: 1.5rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		height: 70%;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.button-container {
		display: flex;
		height: 20%;
		width: 80%;
		align-items: center;
		justify-content: center;
	}
	.button-label {
		width: 100%;
		text-align: center;
		transition-property: width;
		transition-duration: 0.3s;
	}
	.button-icon {
		width: 20%;
		display: none;

		background: white;
		border: 1px solid #29c63e;
		height: 100%;
	}

	.error-msg {
		visibility: hidden;
		height: 0px;
		transition-property: height;
		transition-duration: 0.3s;
		color: red;
		text-align: center;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		border: 1px solid #29c63e;
		-webkit-text-fill-color: black;
		-webkit-box-shadow: 0 0 0px 1000px white inset;
		transition: background-color 5000s ease-in-out 0s;
	}
</style>

<script>
	export default {
		name: 'LoginAdmin',

		data() {
			return {
				src: require('@/assets/logo.png'),
				inputPassword: 'password',
				name: '',
				password: '',
				errorMsgs: {
					name: '',
					password: '',
				},
				valids: {
					name: false,
					password: false,
				},
				dialog: false,
				cardTitleMsg: '',
				cardBodyMsg: '',
				loading: true,
				buttonLoading: false,
			};
		},

		mounted() {
			window.document.title = this.$route.meta.title;
			this.effectLoad();
		},

		methods: {
			sleep(ms) {
				return new Promise((resolve) => setTimeout(resolve, ms));
			},

			async effectLoad() {
				await this.sleep(3000);
				this.loading = false;
			},
			clickLabelPassword() {
				if (this.inputPassword == 'text') {
					this.inputPassword = 'password';
				} else {
					this.inputPassword = 'text';
				}
			},
			effectEnterButton() {
				let buttonLabel = document.getElementById('button-label');
				let buttonIcon = document.getElementById('button-icon');
				buttonLabel.style.width = '80%';
				buttonIcon.style.display = 'flex';
				buttonIcon.style.alignItems = 'center';
				buttonIcon.style.justifyContent = 'center';
				buttonIcon.style.width = '20%';
			},

			effectLeaveButton() {
				let buttonLabel = document.getElementById('button-label');
				let buttonIcon = document.getElementById('button-icon');
				buttonLabel.style.width = '100%';
				buttonIcon.style.display = 'none';
				buttonIcon.style.width = '0px';
			},

			showMsgError(errorMsg, input, inputValue) {
				errorMsg.style.height = '20%';
				errorMsg.style.visibility = 'visible';
				input.style.border = 'red 1px solid';
				this.valids[inputValue] = false;
			},
			hiddenMsgError(errorMsg, input, inputValue) {
				errorMsg.style.visibility = 'hidden';
				errorMsg.style.height = '0px';
				input.style.border = 'rgba(11, 191, 35, 1) 1px solid';
				this.valids[inputValue] = true;
			},

			validateName() {
				let errorMsg = document.getElementsByClassName('error-msg')[0];
				let name = document.getElementById('name');

				if (this.name === '') {
					this.errorMsgs.name = 'No debes dejar el Nombre vacío';
					this.showMsgError(errorMsg, name, 'name');
				} else {
					this.errorMsgs.name = '';
					this.hiddenMsgError(errorMsg, name, 'name');
				}
			},

			validatePassword() {
				let errorMsg = document.getElementsByClassName('error-msg')[1];
				let password = document.getElementById('password');

				if (this.password === '') {
					this.errorMsgs.password =
						'No debes dejar la Contraseña vacía';
					this.showMsgError(errorMsg, password, 'password');
					return;
				} else {
					this.errorMsgs.password = '';
					this.hiddenMsgError(errorMsg, password, 'password');
				}
			},

			async login() {
				this.buttonLoading = true;
				const axios = require('axios').default;
				let qs = require('qs');
				let response = '';
				let params = {
					name: this.name,
					password: this.password,
				};
				let url =
					'http://localhost:8888/admin-login/?' +
					qs.stringify(params);
				let config = {
					method: 'post',
					url: url,
					validateStatus: function(status) {
						return (
							status === 200 ||
							status === 400 ||
							status === 401 ||
							status === 404 ||
							status === 500
						);
					},
				};
				this.validateName();
				this.validatePassword();

				for (let input in this.valids) {
					if (!this.valids[input]) {
						this.cardTitleMsg = 'Error';
						this.cardBodyMsg = 'No Dejes Campos Vacíos';
						this.dialog = true;
						this.buttonLoading = false;
						return;
					}
				}

				try {
					response = await axios(config);
				} catch (error) {
					this.cardTitleMsg = 'Error';
					this.cardBodyMsg =
						'Ha ocurrido un error interno, intentalo más tarde';
					this.dialog = true;
					this.buttonLoading = false;
					return;
				}

				switch (response.status) {
					case 200:
						localStorage.setItem(
							'DNATA',
							response.data.access_token
						);
						this.$router.push({
							name: 'AdminPanel',
						});
						break;

					case 400:
						console.log(response.data);
						this.buttonLoading = false;
						break;

					case 401:
						this.cardTitleMsg = 'Error';
						this.cardBodyMsg =
							'Este usuario no tiene privilegios o fue eliminado';
						this.dialog = true;
						this.buttonLoading = false;
						break;

					case 404:
						this.cardTitleMsg = 'Error';
						this.cardBodyMsg =
							'Nombre de usuario o contraseña incorrectos';
						this.dialog = true;
						this.buttonLoading = false;
						break;

					case 500:
						this.cardTitleMsg = 'Error';
						this.cardBodyMsg =
							'Ocurrio un error interno, intentalo más tarde';
						this.dialog = true;
						this.buttonLoading = false;
						break;
				}
			},
		},
	};
</script>
