<template>
	<div v-if="token_valid" class="my-container">
		<div class="info-container">
			<div class="info-title">
				<div class="img">
					<img :src="src" />
				</div>
				<div class="my-title">
					Registro Completo
				</div>
			</div>
			<div class="info-body">
				Te has registrado con exito, ahora podrás disfrutar de compras
				online en nuestra tienda virtual!
			</div>
			<div
				class="info-bottom"
				@mouseenter="iconColor = '#59ff59'"
				@mouseleave="iconColor = 'white'"
				@click="redirect('Index')"
			>
				<div class="label">
					Continuar
				</div>
				<div class="icon">
					<v-icon :color="iconColor" size="80"
						>mdi-arrow-right-bold-circle-outline</v-icon
					>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
	.my-container {
		background: rgb(155, 193, 160);
		background: linear-gradient(
			180deg,
			rgba(155, 193, 160, 1) 0%,
			rgba(11, 191, 35, 1) 50%,
			rgba(155, 193, 160, 1) 100%
		);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
	}
	.info-container {
		display: flex;
		flex-direction: column;
		border: 1px solid white;
		height: 75%;
		width: 30%;
		background: transparent;
		box-shadow: 0px 1px 30px 1px rgba(0, 0, 0, 0.69);
	}

	.info-title {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 20%;
		background: transparent;
		align-items: center;
		justify-content: center;
	}

	.info-title .img {
		display: flex;
		width: 40%;
		height: 110%;
		margin-top: -15%;
	}

	.info-title .my-title {
		display: flex;
		width: 80%;
		height: 50%;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
	}

	.info-title .img img {
		height: 100%;
		width: 100%;
		border-radius: 100%;
	}

	.info-body {
		display: flex;
		width: 100%;
		height: 80%;
		border-top: 1px solid white;
		color: white;
		font-family: cursive;
		font-size: 2rem;
		text-align: center;
		align-items: center;
	}
	.info-bottom {
		width: 100%;
		height: 20%;
		border-top: 1px solid white;
		display: flex;
		cursor: pointer;
		color: white;
		transition-property: background-color;
		transition-duration: 1.6ms;
		transition-property: background-color;
		transition-duration: 0.6s;
	}

	.info-bottom:hover {
		background-color: white;
		color: #59ff59;
	}

	.label {
		font-family: cursive;
		font-size: 2.5rem;
		width: 65%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		transition-property: background-color;
		transition-duration: 0.6s;
	}

	.icon {
		display: flex;
		width: 35%;
		align-items: center;
		justify-content: center;
	}
</style>

<script>
	export default {
		name: 'SignInComplete',

		data() {
			return {
				token_valid: false,
				dialog: true,
				src: require('@/assets/logo.jpg'),
				iconColor: 'white'
			};
		},
		mounted() {
			window.document.title = this.$route.meta.title;
			if (
				!Object.prototype.hasOwnProperty.call(
					this.$route.query,
					'token'
				)
			) {
				this.$router.push({ name: 'Index' });
			}
			this.validate_registry_token();
		},

		methods: {
			redirect(view) {
				this.$router.push({ name: view });
			},
			async validate_registry_token() {
				const axios = require('axios').default;
				let qs = require('qs');
				let response = '';
				let params = {
					token: this.$route.query.token
				};
				let url =
					'http://localhost:8888/validar-token-registro/?' +
					qs.stringify(params);
				let config = {
					method: 'get',
					url: url,
					validateStatus: function(status) {
						return status === 200 || status === 404;
					}
				};

				try {
					response = await axios(config);
				} catch (error) {
					console.log(error);
					return;
				}

				switch (response.status) {
					case 200:
						this.token_valid = true;
						break;

					case 404:
						this.$router.push({ name: 'Index' });
						break;
				}
			}
		}
	};
</script>
