<template>
	<v-container fluid>
		<v-row>
			<v-card class="mx-auto border" max-width="250" elevation="15">
				<v-img
					class="white--text align-end"
					height="200px"
					:src="about1"
				>
				</v-img>
				<div class="body">
					<div class="body-title">Acerca De</div>
					<div class="body-description">
						Somos una empresa dedicada a la venta de rubos, secos,
						refrigerados y hortalizas.
					</div>
				</div>
			</v-card>
			<v-card class="mx-auto border" max-width="250" elevation="15">
				<v-img
					class="white--text align-end"
					height="200px"
					:src="about2"
				>
				</v-img>
				<div class="body">
					<div class="body-title">Misión</div>
					<div class="body-description">
						La misión es ser reconocidos como una mercado que ofrece
						una amplia variedad de alimentos con precios accesibles
						y de alta calidad.
					</div>
				</div>
			</v-card>
			<v-card class="mx-auto border" max-width="250" elevation="15">
				<v-img
					class="white--text align-end"
					height="200px"
					:src="about3"
				>
				</v-img>
				<div class="body">
					<div class="body-title">Visión</div>
					<div class="body-description">
						Ser una institución líder en la presentación de
						servicios a la comunidad, mediante una gestion
						transparente y eficiente, integrando tradicion y
						modernidad a fin de fortalecer la cultura.
					</div>
				</div>
			</v-card>
		</v-row>
	</v-container>
</template>

<style scoped>
	.container {
		padding: 0px;
	}
	.title {
		text-align: center;
		padding: 1%;
		font-size: 2rem !important;
		margin-bottom: 2%;
		background: white;
		color: black;
	}

	.body-title {
		margin: 1%;
		font-weight: 700;
		text-align: center;
	}

	.body-title {
		padding: 5% 0;
		border-top: 1px solid #29c63e;
		border-bottom: 1px solid #29c63e;
	}

	.body-description {
		padding: 10%;
		text-align: justify;
	}

	.border {
		border: 1px solid #29c63e;

		transition: transform 0.2s;
	}

	.border:hover {
		transform: scale(1.1);
	}
</style>

<script>
	export default {
		name: 'About',

		data() {
			return {
				divStyle: {
					// backgroundImage: 'url(' + require('@/assets/bg-1.png') + ')',
					// backgroundRepeat: 'no-repeat',
					// backgroundSize: 'cover'
				},
				about1: require('@/assets/about-img-2.jpg'),
				about2: require('@/assets/about-img-1.jpg'),
				about3: require('@/assets/about-img-3.jpg')
			};
		}
	};
</script>
