<template>
	<div class="main-container">
		<div class="header">
			<h1>Administrador - Delicias Norte</h1>
		</div>
		<div class="body">
			<div class="content">
				Desde aquí podras administrar los productos que hay en la
				tienda, asi como ver los pedidos, ver y actualizar los clientes
				registrados y los usuarios del sistema.
			</div>
		</div>
		<div class="footer"></div>
	</div>
</template>

<style scoped>
	.main-container {
		display: flex;
		flex-direction: column;
		height: 80vh;
		width: 55vw;
		background: #29c63e;
		border-radius: 1%;
		color: white;
	}

	.header {
		align-items: center;
		justify-content: center;
		display: flex;
		height: 15%;
		border-bottom: 1px solid white;
	}

	.body {
		display: flex;
		align-items: center;
		height: 85%;
		font-size: 1.8rem;
		padding: 0px 8%;
		text-align: justify;
	}

	.body .content {
		margin-top: -10%;
	}
</style>

<script>
	export default {
		name: 'AP-Home',
	};
</script>
