<template>
	<v-progress-circular
		:size="70"
		:width="7"
		color="rgba(11, 191, 35, 1)"
		indeterminate
	></v-progress-circular>
</template>

<style scoped></style>

<script>
	export default {
		name: 'AP-LogOut',
	};
</script>
