<template>
	<div class="main-container">
		<v-snackbar
			v-model="snackbar"
			top
			:color="snackbarColor"
			:timeout="4000"
		>
			<div :style="snackbarTextStyle">
				{{ snackbarText }}
			</div>
			<v-btn :color="snackbarButtonColor" text @click="snackbar = false">
				Aceptar
			</v-btn>
		</v-snackbar>
		<v-dialog
			v-model="dialogNewProduct"
			width="750"
			:scrollable="false"
			:persistent="true"
			class="d-flex"
		>
			<div class="dialog-container">
				<div
					class="dialog-title noselect d-flex justify-center align-center"
				>
					<div class="header-icon right">
						<v-icon color="white" size="50">
							mdi-plus-box-outline
						</v-icon>
					</div>
					<div class="content">
						Nuevo Producto
					</div>
					<div class="header-icon left">
						<v-icon color="white" size="50">
							mdi-plus-box-outline
						</v-icon>
					</div>
				</div>
				<div
					class="form-container d-flex justify-center align-center flex-column"
				>
					<div class="input-container d-flex">
						<div
							class="label noselect d-flex justify-center align-center"
						>
							Nombre
						</div>
						<div class="input d-flex justify-center align-center">
							<input
								id="input-new-product-name"
								type="text"
								placeholder="Nombre"
								:value="newProduct.name"
								@blur="validateName(true)"
							/>
							<div class="msg-error"></div>
						</div>
					</div>
					<div class="input-container d-flex">
						<div
							class="label noselect d-flex justify-center align-center"
						>
							Existencias
						</div>
						<div class="input d-flex justify-center align-center">
							<input
								id="input-new-product-stock"
								type="text"
								placeholder="Existencias"
								:value="newProduct.stock"
								@blur="validateStock(true)"
							/>
							<div class="msg-error"></div>
						</div>
					</div>
					<div class="input-container d-flex">
						<div
							class="label noselect d-flex justify-center align-center"
						>
							Precio
						</div>
						<div class="input d-flex justify-center align-center">
							<input
								id="input-new-product-price"
								type="text"
								placeholder="Precio"
								:value="newProduct.price"
								@blur="validatePrice(true)"
							/>
							<div class="msg-error"></div>
						</div>
					</div>
				</div>
				<div class="dialog-buttons d-flex justify-end align-center">
					<div class="form-button-container d-flex">
						<v-btn
							@click="closeDialogNewProduct"
							tile
							outlined
							color="white"
						>
							<v-icon left>mdi-close-thick</v-icon>
							Cerrar
						</v-btn>
					</div>
				</div>
			</div>
		</v-dialog>
		<v-dialog
			v-model="dialogShowImg"
			width="750"
			:scrollable="false"
			:persistent="true"
			class="d-flex"
		>
			<div class="dialog-container">
				<div
					class="dialog-title noselect d-flex justify-center align-center"
				>
					<div class="header-icon right">
						<v-icon color="white" size="50">
							mdi-image-outline
						</v-icon>
					</div>
					<div class="content">
						{{ showImgProductName }}
					</div>
					<div class="header-icon left">
						<v-icon color="white" size="50">
							mdi-image-outline
						</v-icon>
					</div>
				</div>
				<div class="showImgBody d-flex justify-center align-center">
					<img :src="showImgUrl" :alt="showImgProductName" />
				</div>
				<div class="dialog-buttons d-flex justify-end align-center">
					<div class="form-button-container d-flex">
						<v-btn
							@click="closeDialogShowImg"
							tile
							outlined
							color="white"
						>
							<v-icon left>mdi-close-thick</v-icon>
							Cerrar
						</v-btn>
					</div>
				</div>
			</div>
		</v-dialog>

		<v-dialog
			v-model="dialogEdit"
			width="750"
			:scrollable="false"
			:persistent="true"
			class="d-flex"
		>
			<div class="dialog-container">
				<div
					class="dialog-title noselect d-flex justify-center align-center"
				>
					<div class="header-icon right">
						<v-icon color="white" size="50">
							mdi-square-edit-outline
						</v-icon>
					</div>
					<div class="content">
						Editar Producto
					</div>
					<div class="header-icon left">
						<v-icon color="white" size="50">
							mdi-square-edit-outline
						</v-icon>
					</div>
				</div>
				<div
					class="form-container d-flex justify-center align-center flex-column"
				>
					<div class="input-container d-flex">
						<div
							class="label noselect d-flex justify-center align-center"
						>
							Nombre
						</div>
						<div class="input d-flex justify-center align-center">
							<input
								id="input-product-name"
								type="text"
								placeholder="Nombre"
								:value="editedProduct.name"
								@blur="validateName(false)"
								disabled
								@keyup.enter="
									clickInActionIcon(
										'input-product-name',
										'action-name'
									)
								"
							/>
							<div class="msg-error"></div>
						</div>
						<div
							class="action-icon d-flex justify-center align-center"
						>
							<div
								@mouseenter="
									inputMouseEnterAction('action-name')
								"
								@mouseleave="
									inputMouseLeaveAction('action-name')
								"
								@click="
									clickInActionIcon(
										'input-product-name',
										'action-name'
									)
								"
								id="action-name"
								class="d-flex justify-center align-center"
							>
								<v-icon color="#29c63e">
									mdi-pencil-outline
								</v-icon>
							</div>
						</div>
						<div
							class="tooltip noselect align-center justify-center"
						>
							Editar
						</div>
						<div class="save-progress">
							<v-progress-circular
								indeterminate
								color="#29c63e"
							></v-progress-circular>
						</div>
					</div>
					<div class="select-container d-flex">
						<div
							class="label noselect d-flex justify-center align-center"
						>
							Categoria
						</div>
						<div
							class="custom-select noselect d-flex justify-center align-center"
						>
							<div
								class="select disabled d-flex justify-center align-center"
								tabindex="2"
								@click="selectClick"
								@blur="selectBlur"
								id="select-product-category"
							>
								<div
									class="options d-flex justify-center align-center"
								>
									<div
										v-for="category in productsCategories"
										:key="category.id"
										class="option"
										@mouseenter="optionMouseEnter"
										@mouseleave="optionMouseLeave"
										@click="optionClick"
									>
										<div class="no-visible">
											{{ category.id }}
										</div>
										{{ category.name }}
									</div>
								</div>
								{{ editedProduct.product_category.name }}
								<v-icon color="rgba(0, 0, 0, 0.54)" size="30"
									>mdi-arrow-down-drop-circle-outline</v-icon
								>
							</div>
						</div>
						<div
							class="action-icon d-flex justify-center align-center"
						>
							<div
								@mouseenter="
									inputMouseEnterAction('action-category')
								"
								@mouseleave="
									inputMouseLeaveAction('action-category')
								"
								@click="
									clickInActionIcon(
										'select-product-category',
										'action-category'
									)
								"
								id="action-category"
								class="d-flex justify-center align-center"
							>
								<v-icon color="#29c63e">
									mdi-pencil-outline
								</v-icon>
							</div>
						</div>
						<div
							class="tooltip noselect align-center justify-center"
						>
							Editar
						</div>
						<div class="save-progress">
							<v-progress-circular
								indeterminate
								color="#29c63e"
							></v-progress-circular>
						</div>
					</div>
					<div class="input-container d-flex">
						<div
							class="label noselect noselect noselect d-flex justify-center align-center"
						>
							Existencias
						</div>
						<div class="input d-flex justify-center align-center">
							<input
								type="text"
								placeholder="Existencias"
								:value="editedProduct.stock"
								@blur="validateStock(false)"
								disabled
								id="input-product-stock"
								@keyup.enter="
									clickInActionIcon(
										'input-product-stock',
										'action-stock'
									)
								"
							/>
							<div class="msg-error"></div>
						</div>
						<div
							class="action-icon d-flex justify-center align-center"
						>
							<div
								@mouseenter="
									inputMouseEnterAction('action-stock')
								"
								@mouseleave="
									inputMouseLeaveAction('action-stock')
								"
								@click="
									clickInActionIcon(
										'input-product-stock',
										'action-stock'
									)
								"
								id="action-stock"
								class="d-flex justify-center align-center"
							>
								<v-icon color="#29c63e">
									mdi-pencil-outline
								</v-icon>
							</div>
						</div>
						<div
							class="tooltip noselect align-center justify-center"
						>
							Editar
						</div>
						<div class="save-progress">
							<v-progress-circular
								indeterminate
								color="#29c63e"
							></v-progress-circular>
						</div>
					</div>
					<div class="input-container d-flex">
						<div
							class="label noselect d-flex justify-center align-center"
						>
							Precio
						</div>
						<div class="input d-flex justify-center align-center">
							<input
								type="text"
								id="input-product-price"
								placeholder="Precio"
								:value="editedProduct.price"
								@blur="validatePrice(false)"
								@keyup.enter="
									clickInActionIcon(
										'input-product-price',
										'action-price'
									)
								"
								disabled
							/>
							<div class="msg-error"></div>
						</div>
						<div
							class="action-icon d-flex justify-center align-center"
						>
							<div
								@mouseenter="
									inputMouseEnterAction('action-price')
								"
								@mouseleave="
									inputMouseLeaveAction('action-price')
								"
								@click="
									clickInActionIcon(
										'input-product-price',
										'action-price'
									)
								"
								id="action-price"
								class="d-flex justify-center align-center"
							>
								<v-icon color="#29c63e">
									mdi-pencil-outline
								</v-icon>
							</div>
						</div>
						<div
							class="tooltip noselect align-center justify-center"
						>
							Editar
						</div>
						<div class="save-progress">
							<v-progress-circular
								indeterminate
								color="#29c63e"
							></v-progress-circular>
						</div>
					</div>
					<div
						class="image-edit-container d-flex justify-center align-center"
					>
						<v-btn color="white" class="ma-2 green--text">
							Cambiar Imagen
							<v-icon right dark>mdi-image-edit-outline</v-icon>
						</v-btn>
					</div>
				</div>
				<div class="dialog-buttons d-flex justify-end align-center">
					<div class="form-button-container d-flex">
						<v-btn
							@click="closeDialogEdit"
							tile
							outlined
							color="white"
						>
							<v-icon left>mdi-close-thick</v-icon>
							Cerrar
						</v-btn>
					</div>
				</div>
			</div>
		</v-dialog>
		<div>
			<div class="header-container">
				<div class="table-title noselect">Productos</div>
				<div class="button-container">
					<v-btn
						@click="openDialogNewProduct"
						color="white"
						class="ma-2 green--text"
					>
						Nuevo Producto
						<v-icon right dark>mdi-plus-circle-outline</v-icon>
					</v-btn>
				</div>
			</div>
			<v-data-table
				:headers="headers"
				:items="products"
				:page.sync="page"
				:items-per-page="itemsPerPage"
				hide-default-footer
				class="elevation-1"
				@page-count="pageCount = $event"
				style="width: 900px;border: 1px solid #29c63e;"
			>
				<template v-slot:item.action="{ item }">
					<div class="d-flex justify-center">
						<v-icon
							x-small
							class="mr-2"
							@click="openDialogEdit(item)"
						>
							mdi-pencil
						</v-icon>
						<v-icon small @click="openDialogDelete(item)">
							mdi-delete
						</v-icon>
					</div>
				</template>
				<template v-slot:item.img="{ item }">
					<div class="d-flex justify-center">
						<v-btn
							small
							color="white"
							class="ma-2 green--text"
							@click="openDialogShowImg(item)"
						>
							Ver Imagen
							<v-icon right dark>mdi-image-outline</v-icon>
						</v-btn>
					</div>
				</template></v-data-table
			>
			<div class="text-center pt-2">
				<v-pagination
					v-model="page"
					color="#29c63e"
					light
					:total-visible="8"
					:length="pageCount"
				></v-pagination>
			</div>
		</div>
	</div>
</template>

<style scoped>
	.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.header-container {
		display: flex;
		margin-bottom: 2%;
	}

	.table-title {
		display: flex;
		width: 80%;
		align-items: center;
		justify-content: center;
		color: #29c63e;
		font-size: 1.8rem;
		margin-left: 25%;
	}

	.button-container {
		display: flex;
		width: 40%;
	}

	.dialog-container {
		height: 550px;
	}

	.dialog-title {
		height: 15%;
		color: white;
		background: #29c63e;
		font-size: 1.8rem;
		position: relative;
	}

	.header-icon {
		position: absolute;
	}

	.header-icon.left {
		left: 90%;
	}

	.header-icon.right {
		right: 90%;
	}

	.form-container,
	.showImgBody {
		background: white;
		height: 70%;
	}

	.showImgBody img {
		border: 1px solid #29c63e;
		width: 50%;
		height: 90%;
	}

	/* normalizar estilos de los inputs */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		border: 1px solid #29c63e;
		-webkit-text-fill-color: black;
		/* -webkit-box-shadow: 0 0 0px 1000px white inset; */
		transition: background-color 5000s ease-in-out 0s;
	}

	.input-container,
	.select-container,
	.image-edit-container {
		width: 80%;
		height: 17%;
		position: relative;
	}

	.image-edit-container {
		margin-left: 10%;
	}

	.label {
		width: 20%;
	}

	.input,
	.custom-select {
		width: 70%;
	}

	.input {
		flex-direction: column;
	}

	.custom-select {
		position: relative;
	}

	.action-icon {
		width: 10%;
	}

	.action-icon div {
		height: 60%;
		width: 80%;
		border: 1px solid #29c63e;
		cursor: pointer;
	}

	.input input,
	.custom-select .select {
		width: 100%;
		height: 60%;
		border: 1px solid black;
		text-align: center;
	}

	.custom-select .select {
		cursor: pointer;
		pointer-events: none;
	}

	.custom-select .select.disabled {
		background: #dddddd67;
	}

	.input input:focus,
	.custom-select .select:focus {
		border: #29c63e 2px solid;
		outline: none;
	}

	.input input:disabled {
		background: #dddddd67;
	}

	.msg-error {
		visibility: hidden;
		color: red;
		height: 0px;
		transition-property: height;
		transition-duration: 0.3s;
	}

	.select i {
		position: absolute;
		left: 92%;
	}

	.select .options {
		flex-direction: column;
		position: absolute;
		width: 100%;
		top: 80%;
		z-index: 2;
		background: white;
		border-top: none;
		border-left: #29c63e 2px solid;
		border-right: #29c63e 2px solid;
		visibility: hidden;
	}

	.select .options .option {
		border-bottom: #29c63e 2px solid;
		width: 100%;
		padding: 1%;
	}

	.no-visible {
		display: none;
	}

	.select-container ~ .input-container > .input > input {
		z-index: 1;
	}

	.tooltip {
		background: rgba(0, 0, 0, 0.384);
		color: white;
		height: 60%;
		align-self: center;
		width: 12%;
		position: absolute;
		left: 100%;
		display: none;
	}

	.save-progress {
		position: absolute;
		left: 100%;
		align-items: center;
		justify-content: center;
		height: 100%;
		display: none;
	}

	.form-button-container {
		width: 20%;
	}

	.dialog-buttons {
		height: 15%;
		background: #29c63e;
	}
</style>

<script>
	export default {
		name: 'AP-Products',
		data() {
			return {
				dialogNewProduct: false,
				dialogEdit: false,
				dialogShowImg: false,
				showImgProductName: '',
				showImgUrl: '',
				editIcon: 'mdi-pencil-outline',
				saveIcon: 'mdi-content-save-outline',
				snackbar: '',
				snackbarColor: '',
				snackbarText: '',
				snackbarButtonColor: '',
				snackbarTextStyle: '',
				page: 1,
				pageCount: 0,
				itemsPerPage: 5,
				headers: [
					{
						text: 'Nombre',
						value: 'name',
						align: 'center'
					},
					{
						text: 'Categoria',
						value: 'categoryName',
						align: 'center'
					},
					{ text: 'Existencias', value: 'stock', align: 'center' },
					{ text: 'Precio', value: 'price', align: 'center' },
					{ text: 'Imagen', value: 'img', align: 'center' },
					{
						text: 'Editar / Borrar',
						sortable: false,
						value: 'action',
						align: 'center'
					}
				],
				products: [],
				productsCategories: [],
				originalProduct: {
					id: 0,
					name: '',
					product_category: {
						id: 0,
						name: ''
					},
					stock: 0,
					price: 0
				},
				editedProduct: {
					id: 0,
					name: '',
					product_category: {
						id: 0,
						name: ''
					},
					stock: 0,
					price: 0
				},
				newProduct: {
					name: '',
					product_category_id: 0,
					stock: 0,
					price: 0
				}
			};
		},

		mounted() {
			this.setTableStyle();
			this.getProducts();
			this.getProductCategories();
		},

		methods: {
			setTableStyle() {
				let ths = document.getElementsByTagName('th');

				for (let th of ths) {
					th.style.borderBottom = 'thin solid #29c63e';
					th.style.fontSize = '1.0rem';
				}
			},

			inputMouseEnterAction(divActionId) {
				let divAction = document.getElementById(divActionId);
				let tooltip = divAction.parentElement.nextElementSibling;
				let icon = divAction.firstElementChild;
				divAction.style.background = '#29c63e';
				tooltip.style.display = 'flex';
				icon.style.color = 'white';
				icon.style.caretColor = 'white';
			},

			inputMouseLeaveAction(divActionId) {
				let divAction = document.getElementById(divActionId);
				let tooltip = divAction.parentElement.nextElementSibling;
				let icon = divAction.firstElementChild;
				divAction.style.background = 'white';
				tooltip.style.display = 'none';
				icon.style.color = '#29c63e';
				icon.style.caretColor = '#29c63e';
			},

			clickInActionIcon(inputId, divActionId) {
				let tooltip = document.getElementById(divActionId).parentElement
					.nextElementSibling;
				if (tooltip.innerText === 'Editar') {
					this.editProduct(inputId);
				} else {
					this.saveProduct(inputId);
				}
			},

			selectClick() {
				let select = event.currentTarget;
				let options = select.firstElementChild;
				let icon = select.lastElementChild;

				if (options.style.visibility === 'visible') {
					this.selectBlur();
					return;
				}

				options.style.visibility = 'visible';
				icon.classList.remove('mdi-arrow-down-drop-circle-outline');
				icon.classList.add('mdi-arrow-up-drop-circle-outline');
				icon.style.color = '#29c63e';
				icon.style.caretColor = '#29c63e';
			},

			selectBlur() {
				let select = event.currentTarget;
				let options = select.firstElementChild;
				let icon = select.lastElementChild;
				options.style.visibility = 'hidden';
				icon.classList.remove('mdi-arrow-up-drop-circle-outline');
				icon.classList.add('mdi-arrow-down-drop-circle-outline');
				icon.style.color = 'black';
				icon.style.caretColor = 'black';
			},

			optionMouseEnter() {
				let option = event.srcElement;
				option.style.background = 'rgba(41, 198, 62, 1)';
				option.style.color = 'white';
			},

			optionMouseLeave() {
				let option = event.srcElement;
				option.style.background = 'white';
				option.style.color = 'black';
			},

			optionClick() {
				let option = event.currentTarget;
				let productCategoryIdSelected =
					option.firstElementChild.innerText;
				let productCategoryNameSelected = option.innerText;
				this.editedProduct.product_category.id = productCategoryIdSelected;
				this.editedProduct.product_category.name = productCategoryNameSelected;
			},

			editProduct(inputId) {
				this.disableAllInputs();
				this.OcultAllErrorMsgs();
				this.editedProduct = { ...this.originalProduct };
				let input = document.getElementById(inputId);
				let tooltip =
					input.parentElement.nextElementSibling.nextElementSibling;
				let icon =
					input.parentElement.nextElementSibling.firstElementChild
						.firstElementChild;
				tooltip.innerText = 'Guardar';
				icon.classList.remove(this.editIcon);
				icon.classList.add(this.saveIcon);

				if (input.nodeName === 'INPUT') {
					input.disabled = false;
				} else {
					input.style.pointerEvents = 'all';
					input.classList.remove('disabled');
					let selectArrowIcon = input.getElementsByTagName('i')[0];
					selectArrowIcon.style.color = 'black';
					selectArrowIcon.style.caretColor = 'black';
				}
			},

			disableAllInputs() {
				let inputs = document.getElementsByTagName('input');
				let selects = document.getElementsByClassName('select');
				let actionIcons = document.getElementsByClassName(
					'action-icon'
				);
				let tooltips = document.getElementsByClassName('tooltip');

				for (let input of inputs) {
					input.disabled = true;
				}

				for (let select of selects) {
					select.style.pointerEvents = 'none';
					select.classList.add('disabled');
					let selectArrowIcon = select.getElementsByTagName('i')[0];
					selectArrowIcon.style.color = 'rgba(0, 0, 0, 0.54)';
					selectArrowIcon.style.caretColor = 'rgba(0, 0, 0, 0.54)';
				}

				for (let actionIcon of actionIcons) {
					let icons = actionIcon.getElementsByTagName('i');

					for (let icon of icons) {
						icon.classList.remove(this.saveIcon);
						icon.classList.add(this.editIcon);
					}
				}

				for (let tooltip of tooltips) {
					tooltip.innerText = 'Editar';
				}
			},

			OcultAllErrorMsgs() {
				let errorMsgs = document.getElementsByClassName('msg-error');

				for (let errorMsg of errorMsgs) {
					let input = errorMsg.previousElementSibling;
					input.style.border = '1px solid black';
					errorMsg.style.height = '0px';
					errorMsg.style.visibility = 'hidden';
				}
			},

			async saveProduct(inputId) {
				if (
					inputId === 'input-product-name' &&
					!this.validateName(false)
				) {
					return;
				} else if (
					inputId === 'input-product-price' &&
					!this.validatePrice(false)
				) {
					return;
				} else if (
					inputId === 'input-product-stock' &&
					!this.validateStock(false)
				) {
					return;
				}
				let input = document.getElementById(inputId);
				let tooltip =
					input.parentElement.nextElementSibling.nextElementSibling;
				let saveProgress = tooltip.nextElementSibling;
				let icon =
					input.parentElement.nextElementSibling.firstElementChild
						.firstElementChild;

				saveProgress.style.display = 'flex';

				const axios = require('axios').default;
				let response = '';
				let qs = require('qs');
				let params = {};
				let url = 'http://localhost:8888/product/?';
				let config = {
					method: 'patch',
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('DNATA')
					},
					validateStatus: function(status) {
						return (
							status === 204 || status === 401 || status === 500
						);
					}
				};

				if (inputId === 'input-product-name') {
					params.name = input.value;
				} else if (inputId === 'input-product-stock') {
					params.stock = input.value;
				} else if (inputId === 'input-product-price') {
					params.price = input.value;
				} else if (inputId === 'select-product-category') {
					params.product_category_id = this.editedProduct.product_category.id;
				}

				params.id = this.editedProduct.id;
				config.url = url += qs.stringify(params);

				try {
					response = await axios(config);
				} catch (error) {
					console.log('Error Actualizando el producto');
					this.snackbarColor = 'red';
					this.snackbarText = 'No se pudo actuzalizar el dato';
					this.snackbarButtonColor = 'white';
					this.snackbar = true;
					this.snackbarTextStyle = 'color:white;';
					saveProgress.style.display = 'none';
					tooltip.innerText = 'Editar';
					icon.classList.remove(this.saveIcon);
					icon.classList.add(this.editIcon);

					if (input.nodeName === 'INPUT') {
						input.disabled = true;
					} else {
						input.style.pointerEvents = 'none';
						input.classList.add('disabled');
					}
					return;
				}

				switch (response.status) {
					case 204:
						this.snackbarColor = 'white';
						this.snackbarText = 'Dato Actualizado con éxito';
						this.snackbarButtonColor = '#29c63e';
						this.snackbarTextStyle = 'color:#29c63e;';
						this.snackbar = true;
						break;
					case 401:
					case 500:
						console.log('error, code: ' + response.status);
						this.snackbarColor = 'red';
						this.snackbarText = 'No se pudo actuzalizar el dato';
						this.snackbarTextStyle = 'color:white;';
						this.snackbarButtonColor = 'white';
						this.snackbar = true;
						break;
				}

				saveProgress.style.display = 'none';
				tooltip.innerText = 'Editar';
				icon.classList.remove(this.saveIcon);
				icon.classList.add(this.editIcon);

				if (input.nodeName === 'INPUT') {
					input.disabled = true;
				} else {
					input.style.pointerEvents = 'none';
					input.classList.add('disabled');
				}
			},

			openDialogEdit(item) {
				this.dialogEdit = true;
				this.originalProduct.id = item.id;
				this.originalProduct.name = item.name;
				this.originalProduct.stock = item.stock;
				this.originalProduct.price = item.price;
				this.originalProduct.product_category.id =
					item.product_category.id;
				this.originalProduct.product_category.name =
					item.product_category.name;
				this.editedProduct = { ...this.originalProduct };
			},

			closeDialogEdit() {
				this.dialogEdit = false;
				this.getProducts();
				this.disableAllInputs();
				this.OcultAllErrorMsgs();
			},

			openDialogDelete(item) {
				this.dialogEdit = true;
				console.log(item);
			},

			openDialogShowImg(item) {
				this.dialogShowImg = true;
				this.showImgProductName = item.name;
				this.showImgUrl = item.img_url;
			},

			closeDialogShowImg() {
				this.dialogShowImg = false;
				this.showImgUrl = '';
				this.showImgProductName = '';
			},

			openDialogNewProduct() {
				this.dialogNewProduct = true;
				let name = document.getElementById('input-new-product-name');
				let price = document.getElementById('input-new-product-price');
				let stock = document.getElementById('input-new-product-stock');

				if (name) {
					name.disabled = false;
				}
				if (price) {
					price.disabled = false;
				}
				if (stock) {
					stock.disabled = false;
				}
			},

			closeDialogNewProduct() {
				this.dialogNewProduct = false;
				this.newProduct.name = '';
				this.newProduct.price = '';
				this.newProduct.stock = '';
				this.OcultAllErrorMsgs();
			},

			async getProducts() {
				const axios = require('axios').default;
				let response = '';
				let url = 'http://localhost:8888/product/';
				let config = {
					method: 'get',
					url: url,
					validateStatus: function(status) {
						return (
							status === 200 ||
							status === 400 ||
							status === 404 ||
							status === 500
						);
					}
				};

				try {
					response = await axios(config);
				} catch (error) {
					console.log('****************ERROR***********************');
					return;
				}

				let index = 0;

				switch (response.status) {
					case 200:
						this.products = response.data;
						for (let product of this.products) {
							product.categoryName =
								response.data[index].product_category.name;
							index++;
						}
						break;

					case 400:
						console.log(response.data);
						break;

					case 404:
						console.log(response.data);
						break;

					case 500:
						console.log(response.data);
						break;
				}
			},

			async getProductCategories() {
				const axios = require('axios').default;
				let response = '';
				let url = 'http://localhost:8888/product/categories/';
				let config = {
					method: 'get',
					url: url,
					validateStatus: function(status) {
						return (
							status === 200 ||
							status === 400 ||
							status === 404 ||
							status === 500
						);
					}
				};

				try {
					response = await axios(config);
				} catch (error) {
					console.log('****************ERROR***********************');
					return;
				}

				switch (response.status) {
					case 200:
						this.productsCategories = response.data;
						break;

					case 400:
						console.log(response.data);
						break;

					case 404:
						console.log(response.data);
						break;

					case 500:
						console.log(response.data);
						break;
				}
			},

			validateName(newProduct) {
				let inputName = '';

				if (newProduct) {
					inputName = document.getElementById(
						'input-new-product-name'
					);
				} else {
					inputName = document.getElementById('input-product-name');
				}

				let errorMsg = inputName.nextElementSibling;

				if (inputName.value === '') {
					errorMsg.innerText = '*No debes dejar el nombre vacío';
					errorMsg.style.height = '20%';
					errorMsg.style.visibility = 'visible';
					inputName.style.border = '1px solid red';
					return false;
				}

				return true;
			},

			validateStock(newProduct) {
				let inputStock = '';

				if (newProduct) {
					inputStock = document.getElementById(
						'input-new-product-stock'
					);
				} else {
					inputStock = document.getElementById('input-product-stock');
				}

				let errorMsg = inputStock.nextElementSibling;

				if (inputStock.value === '') {
					errorMsg.innerText =
						'*No debes dejar las existencias vacías';
					errorMsg.style.height = '20%';
					errorMsg.style.visibility = 'visible';
					inputStock.style.border = '1px solid red';
					return false;
				}

				return true;
			},

			validatePrice(newProduct) {
				let inputPrice = '';

				if (newProduct) {
					inputPrice = document.getElementById(
						'input-new-product-price'
					);
				} else {
					inputPrice = document.getElementById('input-product-price');
				}

				let errorMsg = inputPrice.nextElementSibling;

				if (inputPrice.value === '') {
					errorMsg.innerText = '*No debes dejar el precio vacío';
					errorMsg.style.height = '20%';
					errorMsg.style.visibility = 'visible';
					inputPrice.style.border = '1px solid red';
					return false;
				}

				return true;
			}
		}
	};
</script>
