<template>
	<div class="my-container">
		<div class="section1">
			<div class="img-container">
				<img :src="banner2_1" alt="" />
			</div>
			<div class="img-container img-2">
				<img :src="banner2_2" alt="" />
			</div>
		</div>
		<!-- <div class="section2">
        <div class="">
            <img :src="banner2_3" alt="" />
        </div>
    </div> -->
	</div>
</template>

<style scoped>
	.my-container {
		margin: 2vh auto;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.section1 {
		display: flex;
		flex-direction: row;
	}

	img {
		width: 100%;
		height: 45vh;
	}

	.img-container {
		border: 1px solid rgba(11, 191, 35, 1);
	}

	.img-2 {
		border-left: none;
	}
</style>

<script>
	export default {
		name: 'Schedule',

		data() {
			return {
				banner2_1: require('@/assets/banner2-1.png'),
				banner2_2: require('@/assets/banner2-2.png')
			};
		}
	};
</script>
