<template>
<div class="my-container">
	<div class="">
		<img :src="banner1" alt="" />
	</div>
	<div class="">
		<img :src="banner2" alt="" />
	</div>
</div>
</template>

<style scoped>
	.my-container{
		margin: 2vh auto;
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	img{
        width: 100%;
        height: 45vh;
    
	}
</style>

<script>
	export default {
        name: 'Schedule',
        
        data(){
            return{
                banner1: require('@/assets/banner1.png'),
                banner2: require('@/assets/banner2.png')
            }
        }
	};
</script>