<template>
	<div class="my-container">
		<div class="buttons">
			<v-card
				class="button1"
				id="button1"
				:style="backgroundButton1"
				@mouseover="setTop('button1')"
				@mouseleave="setIndex0('button1')"
				:elevation="0"
			>
			</v-card>

			<v-card
				class="button2"
				id="button2"
				:style="backgroundButton2"
				@mouseover="setTop('button2')"
				@mouseleave="setIndex0('button2')"
				:elevation="0"
			>
			</v-card>

			<v-card
				class="button3"
				id="button3"
				:style="backgroundButton3"
				@mouseover="setTop('button3')"
				@mouseleave="setIndex0('button3')"
				@click="redirection('SignIn')"
				:elevation="0"
			>
			</v-card>
		</div>
		<v-container>
			<v-carousel
				height="70vh"
				cycle
				hide-delimiter-background
				show-arrows-on-hover
				class="my-carousel"
				:style="carouselStyle"
			>
				<v-carousel-item v-for="(link, i) in links" :key="i">
					<img class="carousel-img" :src="link.src" alt="" />
				</v-carousel-item>
			</v-carousel>
		</v-container>
	</div>
</template>

<style scoped>
	.container {
		padding: 0px;
	}
	.carousel-img {
		width: 100%;
		height: 100%;
	}
	.my-container {
		margin-top: 22vh;
		padding: 0;
		display: flex;
		margin-bottom: 8vh;
	}
	.my-title {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}
	.my-carousel {
		height: 100%;
		width: 100%;
	}
	.buttons {
		display: flex;
		flex-direction: column;
		width: 25%;
		background: transparent;
		color: black;
	}

	.button1 {
		height: 100%;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid black;
		align-items: center;
		justify-content: center;
		transition: transform 0.2s;
		cursor: pointer;
	}

	.button1:hover {
		transform: scale(1.2);
	}

	.button2 {
		height: 100%;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid black;
		align-items: center;
		justify-content: center;
		transition: transform 0.2s;
		cursor: pointer;
	}

	.button2:hover {
		transform: scale(1.2);
	}

	.button3 {
		height: 100%;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid black;
		align-items: center;
		justify-content: center;
		transition: transform 0.2s;
		cursor: pointer;
	}
	.button3:hover {
		transform: scale(1.2);
	}
</style>

<script>
	export default {
		name: 'Carousel',

		data() {
			return {
				links: [
					{
						src: require('@/assets/carousel-1.png')
					},
					{
						src: require('@/assets/carousel-2.jpg')
					},
					{
						src: require('@/assets/carousel-3.png')
					}
					// {
					// 	src: require('@/assets/carousel-4.jpg')
					// }
				],

				backgroundButton3: {
					backgroundImage:
						'url(' +
						require('@/assets/sign-in-button-img.jpg') +
						')',
					backgroundSize: '100% 100%',
					border: '1px solid rgba(11, 191, 35, 1)'
				},
				backgroundButton2: {
					backgroundImage:
						'url(' +
						require('@/assets/combos-button-img.png') +
						')',
					backgroundSize: '100% 100%',
					border: '1px solid rgba(11, 191, 35, 1)'
				},
				backgroundButton1: {
					backgroundImage:
						'url(' +
						require('@/assets/breakfast-button-img.png') +
						')',
					backgroundSize: '100% 100%',
					border: '1px solid rgba(11, 191, 35, 1)'
				},
				carouselStyle: {
					borderTop: '1px solid rgba(11, 191, 35, 1)',
					borderBottom: '1px solid rgba(11, 191, 35, 1)',
					borderRight: '1px solid rgba(11, 191, 35, 1)'
				}
			};
		},

		methods: {
			redirection(route) {
				this.$router.push({ name: route });
			},
			sleep(ms) {
				return new Promise(resolve => setTimeout(resolve, ms));
			},

			setTop(id) {
				let button = document.getElementById(id);
				button.style.zIndex = 1;

				if (id == 'button1') {
					document.getElementById('button2').style.zIndex = 0;
					document.getElementById('button3').style.zIndex = 0;
				} else if (id == 'button2') {
					document.getElementById('button1').style.zIndex = 0;
					document.getElementById('button3').style.zIndex = 0;
				} else {
					document.getElementById('button1').style.zIndex = 0;
					document.getElementById('button2').style.zIndex = 0;
				}
			},

			async setIndex0(id) {
				await this.sleep(150);
				document.getElementById(id).style.zIndex = 0;
			}
		}
	};
</script>
