<template>
	<div class="my-container">
		<div class="section1">
			<div class="img-container">
				<img :src="src" />
			</div>
		</div>
		<div class="section2">
			Contacto: <br />
			<br />
			0412-4491910 <br />
			@Deliciasnorteca <br />
			<br />

			Horario de Atención al Cliente <br />
			Lunes a Viernes De 8:00 am a 6:00 pm.
		</div>
		<div class="section3">
			Nuestra Ubicación <br /><br />
			Av. Bolivar Norte, calle 137-10, frente al Club Doña Maria,
			Valencia, Estado Carabobo.

			<div></div>
		</div>
		<div class="section4">
			Enterate de todo lo que tenemos para ti: <br /><br />
			<div class="icons">
				<v-icon color="white" class="icon1">mdi-facebook</v-icon>
				<v-icon color="white" class="icon2">mdi-instagram</v-icon>
				<v-icon color="white" class="icon3">mdi-whatsapp</v-icon>
			</div>
			<div class="img-footer">
				<img :src="src2" />
			</div>
		</div>
	</div>
</template>

<style scoped>
	.my-container {
		display: flex;
		height: 35vh;
		width: 100vw;
		background: rgba(11, 191, 35, 1);
		margin-top: 3%;
	}

	.section1 {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 25%;
	}

	.icon1,
	.icon2,
	.icon3 {
		cursor: pointer;
	}

	.img-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 80%;
	}

	.img-container img {
		width: 100%;
		height: 100%;
		border-radius: 100%;
	}
	.img-footer {
		display: flex;
		width: 85%;
		height: 50%;
		margin-top: 5%;
	}
	.section2 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 25%;
		color: white;
	}
	.section3 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 25%;
		color: white;
	}
	.section4 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 25%;
		color: white;
		flex-direction: column;
	}
	.section4 img {
		width: 100%;
		height: 100%;
	}
</style>
<script>
	export default {
		name: 'Footer',

		data() {
			return {
				src: require('@/assets/logo.png'),
				src2: require('@/assets/footer.png')
			};
		}
	};
</script>
