<template>
	<v-container fluid class="pa-0">
		<v-row v-for="(link, i) in links" :key="i">
			<img
				class="img-container"
				v-for="(img, i2) of link"
				:key="i2"
				:src="img"
			/>
		</v-row>
	</v-container>
</template>

<script>
	export default {
		name: 'Gallery',

		data: () => ({
			links: [
				{
					img1: require('@/assets/gallery-00.jpg'),
					img2: require('@/assets/gallery-02.jpg'),
					img3: require('@/assets/gallery-03.jpg')
				},
				{
					img1: require('@/assets/gallery-10.jpg'),
					img2: require('@/assets/logo.jpg'),
					img3: require('@/assets/gallery-13.jpg')
				},
				{
					img1: require('@/assets/gallery-20.jpg'),
					img2: require('@/assets/gallery-21.jpg'),
					img3: require('@/assets/carousel-1.jpg')
				}
			]
		})
	};
</script>

<style scoped>
	.img-container {
		width: 33%;
		height: 30vh;
	}
</style>
