<template>
	<div>
		<v-dialog
			v-model="dialogCart"
			width="600"
			:scrollable="false"
			:persistent="true"
			class="d-flex"
		>
			<div class="cart-container">
				<div class="cart-icon">
					<div class="icon1">
						<div class="content">
							Carrito
						</div>
						<v-icon size="50" color="white">
							mdi-cart-outline
						</v-icon>
					</div>
					<div class="icon2">
						<v-icon
							@click="changeStateDialogCart(false)"
							size="50"
							color="white"
						>
							mdi-window-close
						</v-icon>
					</div>
				</div>
				<div class="my-data-table mt-10">
					<v-data-table
						:headers="headers"
						:items="productsInCart"
						:page.sync="page"
						:items-per-page="itemsPerPage"
						hide-default-footer
						class="elevation-1"
						@page-count="pageCount = $event"
					>
						<template v-slot:no-data>
							<div class="text-center">
								Sin Productos en el Carrito
							</div>
						</template>
						<template v-slot:item.quantity="{ item }">
							<div class="quantity-container noselect">
								{{ item.quantity }}
								<div
									@click="item.quantity += 1"
									class="button-plus noselect"
								>
									+
								</div>
								<div
									@click="quantityDowngrade(item)"
									class="button-less noselect"
								>
									-
								</div>
							</div>
						</template>
						<template v-slot:item.total="{ item }">
							{{ formatMoney(item.quantity * item.unitPrice) }}
							BsS
						</template>
						<template v-slot:item.unitPrice="{ item }">
							{{ formatMoney(item.unitPrice) }} BsS
						</template>
					</v-data-table>
					<div class="total-container">
						<div class="label-total">
							Total : {{ formatMoney(getTotal()) }} BsS
						</div>
					</div>
					<div class="text-center pt-2">
						<v-pagination
							v-model="page"
							:length="pageCount"
							color="#29c63e"
							light
							:total-visible="8"
						></v-pagination>
					</div>
				</div>
				<div class="button-buy">
					<div class="buy-button">
						<div class="button-container">
							<div
								class="button-submit"
								@mouseenter="
									effectEnterButton(
										'button-label-cart-buy',
										'button-icon-cart-buy'
									)
								"
								@mouseleave="
									effectLeaveButton(
										'button-label-cart-buy',
										'button-icon-cart-buy'
									)
								"
								@click="buy"
							>
								<div
									class="button-label noselect"
									id="button-label-cart-buy"
								>
									Comprar
								</div>
								<div
									class="button-icon"
									id="button-icon-cart-buy"
								>
									<v-icon
										color="rgba(11, 191, 35, 1)"
										size="30"
									>
										mdi-cart-arrow-down
									</v-icon>
								</div>
							</div>
							<v-progress-circular
								indeterminate
								color="#29c63e"
								class="ml-1"
								v-if="buttonLoading"
							></v-progress-circular>
						</div>
					</div>
				</div>
			</div>
		</v-dialog>

		<v-dialog
			v-model="dialogAccess"
			content-class="dialog-access"
			width="430"
			:scrollable="false"
			:persistent="true"
		>
			<div>
				<v-alert
					:type="alertDialogAccessType"
					class="mb-0 pa-0 text-center"
					:style="alertDialogAccessStyle"
				>
					<div class="alert-dialog-access-container">
						<div class="alert-dialog-access-msg">
							{{ alertDialogAccessMsg }}
						</div>
						<div
							class="alert-dialog-access-msg-icon"
							style="    margin-right: 2%;"
						>
							<v-icon
								@click="
									changeStateAlertDialogAccessStyle('none')
								"
								>mdi-window-close</v-icon
							>
						</div>
					</div>
				</v-alert>
				<div class="access-container">
					<div class="access-title">
						<div class="access-title-content">
							Ingreso - Delicias Norte
						</div>
						<div class="access-window-close-icon-container">
							<v-icon
								color="white"
								@click="
									changeStateDialogAccess(false);
									changeStateAlertDialogAccessStyle('none');
									clearName();
									clearPassword();
								"
								>mdi-window-close</v-icon
							>
						</div>
					</div>
					<div class="access-body">
						<div class="form-container">
							<div class="input-container">
								<div class="inputs">
									<div class="label">
										<v-icon color="white"
											>mdi-account</v-icon
										>
									</div>
									<input
										placeholder="Usuario"
										type="text"
										class="my-input"
										id="name"
										v-model="name"
										@blur="validateName"
									/>
								</div>
								<div class="error-msg">
									*{{ errorMsgs.name }}
								</div>
							</div>
							<div class="input-container">
								<div class="inputs">
									<div
										class="label"
										@click="clickLabelPassword"
										id="icon-password"
									>
										<v-icon color="white"
											>mdi-eye-outline</v-icon
										>
									</div>
									<input
										:type="inputPassword"
										placeholder="Contraseña"
										class="my-input"
										id="password"
										v-model="password"
										@blur="validatePassword"
										@keyup.enter="login"
									/>
								</div>
								<div class="error-msg">
									*{{ errorMsgs.password }}
								</div>
							</div>
						</div>
					</div>
					<div class="access-button noselect">
						<div class="button-container">
							<div
								class="button-submit"
								@mouseenter="
									effectEnterButton(
										'button-label',
										'button-icon'
									)
								"
								@mouseleave="
									effectLeaveButton(
										'button-label',
										'button-icon'
									)
								"
								@click="login"
							>
								<div class="button-label" id="button-label">
									Ingresar
								</div>
								<div class="button-icon" id="button-icon">
									<v-icon
										color="rgba(11, 191, 35, 1)"
										size="50"
									>
										mdi-arrow-right-bold-circle-outline
									</v-icon>
								</div>
							</div>
							<v-progress-circular
								indeterminate
								color="#29c63e"
								class="ml-1"
								v-if="buttonLoading"
							></v-progress-circular>
						</div>
					</div>
				</div>
			</div>
		</v-dialog>

		<div class="navbar" id="navbar" @scroll="effectScroll">
			<div class="section1" id="section1">
				<v-avatar
					class="my-avatar"
					id="my-avatar"
					height="165%"
					width="80%"
				>
					<img :src="require('@/assets/logo.png')" />
				</v-avatar>
			</div>
			<div class="section2" id="section2"></div>
			<div class="section3" id="section3">
				<div class="nav-buttons">
					<div
						class="nav-button-container"
						@mouseenter="showLabel('car-icon', 'car-label')"
						@mouseleave="ocultLabel('car-icon', 'car-label')"
						@click="OpenDialogCart"
					>
						<div class="nav-icon-container" id="car-icon">
							<v-icon :color="buttonCarIconColor"
								>mdi-cart-outline</v-icon
							>
						</div>
						<div class="nav-button-label" id="car-label">
							Carrito
						</div>
					</div>
				</div>
				<div class="nav-buttons">
					<div
						class="nav-button-container"
						@mouseenter="showLabel('login-icon', 'login-label')"
						@mouseleave="ocultLabel('login-icon', 'login-label')"
						@click="changeStateDialogAccess(true)"
						v-if="!userLogin"
					>
						<div class="nav-icon-container" id="login-icon">
							<v-icon :color="buttonLoginIconColor"
								>mdi-account-arrow-right-outline</v-icon
							>
						</div>

						<div class="nav-button-label" id="login-label">
							Acceso
						</div>
					</div>
					<div
						class="nav-button-container"
						@mouseenter="
							showLabel(
								'account-icon',
								'account-label',
								'tooltip1'
							)
						"
						@mouseleave="
							ocultLabel(
								'account-icon',
								'account-label',
								'tooltip1'
							)
						"
						@click="changeStateDialogEditAccount(true)"
						v-else
					>
						<div class="nav-icon-container" id="account-icon">
							<v-badge
								v-if="helpButton1"
								icon="mdi-help"
								color="#29c63e"
							>
								<v-icon :color="buttonLoginIconColor"
									>mdi-account-cog-outline</v-icon
								>
							</v-badge>
							<div
								v-else
								class="nav-icon-container"
								id="account-icon"
							>
								<v-icon :color="buttonSignInIconColor"
									>mdi-account-cog-outline</v-icon
								>
							</div>
						</div>

						<div
							class="nav-button-label text-center"
							id="account-label"
						>
							Mi Cuenta
						</div>
						<div class="tooltip" id="tooltip1">
							Desde aqui puedes configurar tu cuenta
						</div>
					</div>
				</div>
				<div class="nav-buttons">
					<div
						class="nav-button-container"
						@mouseenter="showLabel('signIn-icon', 'signIn-label')"
						@mouseleave="ocultLabel('signIn-icon', 'signIn-label')"
						@click="redirection('SignIn')"
						v-if="!userLogin"
					>
						<div class="nav-icon-container" id="signIn-icon">
							<v-icon :color="buttonSignInIconColor"
								>mdi-account-plus-outline</v-icon
							>
						</div>
						<div class="nav-button-label" id="signIn-label">
							Registro
						</div>
					</div>
					<div
						class="nav-button-container"
						@mouseenter="
							showLabel(
								'log-out-icon',
								'log-out-label',
								'tooltip2'
							)
						"
						@mouseleave="
							ocultLabel(
								'log-out-icon',
								'log-out-label',
								'tooltip2'
							)
						"
						@click="logOut"
						v-else
					>
						<div class="nav-icon-container" id="log-out-icon">
							<v-badge
								v-if="helpButton2"
								icon="mdi-help"
								color="#29c63e"
							>
								<v-icon :color="buttonSignInIconColor"
									>mdi-logout</v-icon
								>
							</v-badge>
							<div
								v-else
								class="nav-icon-container"
								id="log-out-icon"
							>
								<v-icon :color="buttonSignInIconColor"
									>mdi-logout</v-icon
								>
							</div>
						</div>
						<div
							class="nav-button-label text-center"
							id="log-out-label"
						>
							Cerrar Sesión
						</div>
						<div class="tooltip" id="tooltip2">
							Cierra Sesión en Delicias Nortes Online
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
	.alert-dialog-access-container {
		display: flex;
	}

	.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.navbar {
		background: rgb(8, 126, 24);
		background: linear-gradient(
			90deg,
			rgba(8, 126, 24, 1) 0%,
			rgba(11, 191, 35, 1) 28%,
			rgba(178, 232, 182, 1) 100%
		);
		height: 12vh;
		display: flex;
		color: black;
		transition-property: background;
		transition-duration: 0.6s;
		border-bottom: 1px solid white;
	}

	.my-avatar {
		margin-bottom: -25%;
		margin-left: 65%;
		transition-property: width, margin-bottom;
		transition-duration: 0.6s;
	}

	.navbar img {
		height: 100%;
		width: 100%;
	}

	.navbar > .section1 {
		font-family: 'Indie Flower', cursive;
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.3rem;
		flex-direction: column;
		transition-property: width;
		transition-duration: 0.6s;
	}

	.navbar > .section2 {
		width: 40%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.navbar > .section3 {
		width: 40%;
		display: flex;
	}

	.nav-buttons {
		width: 33%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav-button-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		cursor: pointer;
		height: 60%;
		width: 90%;
		border: 1px solid white;
	}

	.nav-icon-container {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: white;
		transition-property: width;
		transition-duration: 0.2s;
	}

	.nav-button-label {
		background: white;
		color: rgba(11, 191, 35, 1);
		height: 100%;
		width: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}

	.access-title {
		display: flex;
		background: rgba(11, 191, 35, 1);
		height: 20%;
		color: white;
	}

	.access-title-content {
		width: 95%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
		font-family: cursive;
		margin-left: 5%;
	}

	.access-window-close-icon-container {
		height: 50%;
		width: 10%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.access-body {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60%;
	}

	.form-container {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.input-container {
		display: flex;
		width: 80%;
		height: 50%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.inputs {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 50%;
	}

	.my-input {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		border-right: 1px solid black;
		width: 80%;
		height: 100%;
		text-align: center;
	}

	.input-cart {
		width: 40%;
		height: 60%;
		text-align: center;
	}

	.label {
		height: 100%;
		width: 20%;
		display: flex;
		background: #29c63e;
		justify-content: center;
		align-items: center;
	}

	#icon-password {
		cursor: pointer;
	}

	.my-input:focus {
		border: #29c63e 2px solid;
		outline: none;
	}

	.error-msg {
		visibility: hidden;
		height: 0px;
		transition-property: height;
		transition-duration: 0.3s;
		color: red;
		text-align: center;
	}

	.access-button,
	.buy-button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 20%;
	}

	.buy-button {
		height: 100%;
	}

	.button-container {
		display: flex;
		height: 95%;
		width: 80%;
		align-items: center;
		justify-content: center;
	}

	.button-submit {
		/* border: 1px solid #29c63e; */
		background: #29c63e;
		color: white;
		font-size: 1.5rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		height: 80%;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.button-label {
		width: 100%;
		text-align: center;
		transition-property: width;
		transition-duration: 0.3s;
	}
	.button-icon {
		width: 20%;
		display: none;

		background: white;
		border: 1px solid #29c63e;
		height: 100%;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		border: 1px solid #29c63e;
		-webkit-text-fill-color: black;
		/* -webkit-box-shadow: 0 0 0px 1000px white inset; */
		transition: background-color 5000s ease-in-out 0s;
	}

	.access-container {
		height: 320px;
		background: white;
	}

	.cart-container {
		display: flex;
		flex-direction: column;
		height: 500px;
		background: white;
	}
	.cart-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #29c63e;
		color: white;
		font-size: 2rem;
	}

	.cart-icon .icon1 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90%;
	}

	.icon1 .content {
		margin-left: 15%;
	}

	.cart-icon .icon2 {
		width: 10%;
	}

	.button-buy {
		margin-top: auto;
		height: 10%;
		margin-bottom: 2%;
	}

	.total-container {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	.label-total {
		background: #29c63e;
		color: white;
		margin: 1%;
		padding: 1%;
		cursor: default;
	}

	.quantity-container {
		display: flex;
		justify-content: space-between;
	}

	.button-plus,
	.button-less {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30%;
		border: 1px solid #29c63e;
		cursor: pointer;
	}

	.button-plus:hover {
		background: #29c63e;
		color: white;
	}

	.button-less {
		border: 1px solid red;
	}

	.button-less:hover {
		background: red;
		color: white;
	}

	.tooltip {
		position: absolute;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		background: rgba(0, 0, 0, 0.384);
		margin-top: 3.3%;
		margin-left: -6%;
		height: 35%;
		width: 25%;
		visibility: hidden;
	}

	#tooltip2 {
		width: 10%;
		margin-left: 1%;
		margin-top: 5%;
		text-align: center;
		height: 88%;
	}
</style>

<script>
	import { mapState, mapMutations } from 'vuex';
	export default {
		name: 'Navbar',

		data() {
			return {
				logo: require('@/assets/logo.png'),
				buttonCarIconColor: 'rgba(11, 191, 35, 1)',
				buttonLoginIconColor: 'rgba(11, 191, 35, 1)',
				buttonSignInIconColor: 'rgba(11, 191, 35, 1)',
				dialogLoginSuccess: true,
				buttonLoading: false,
				inputPassword: 'password',
				name: '',
				password: '',
				errorMsgs: {
					name: '',
					password: '',
				},
				valids: {
					name: false,
					password: false,
				},
				// dialogAccess: false,
				// alertDialogAccessType: 'error',
				// alertDialogAccessMsg: '',
				// alertDialogAccess: {
				// 	display: 'none'
				// },
				page: 1,
				pageCount: 0,
				itemsPerPage: 3,
				headers: [
					{
						text: 'Producto',
						sortable: false,
						value: 'name',
					},
					{ text: 'Cantidad', sortable: false, value: 'quantity' },
					{
						text: 'Precio Unitario',
						sortable: false,
						value: 'unitPrice',
					},
					{ text: 'Total', sortable: false, value: 'total' },
				],
				total: 0,
				helpButton1: true,
				helpButton2: true,
			};
		},

		computed: {
			...mapState([
				'dialogCart',
				'productsInCart',
				'userLogin',
				'dialogAccess',
				'alertDialogAccessType',
				'alertDialogAccessMsg',
				'alertDialogAccessStyle',
			]),
		},

		created() {
			window.addEventListener('scroll', this.effectScroll);
		},

		destroyed() {
			window.removeEventListener('scroll', this.effectScroll);
		},

		methods: {
			redirection(route) {
				this.$router.push({ name: route });
			},

			sleep(ms) {
				return new Promise((resolve) => setTimeout(resolve, ms));
			},

			showLabel(iconId, labelId, tooltip) {
				let icon = document.getElementById(iconId);
				let label = document.getElementById(labelId);
				label.style.width = '60%';
				label.style.justifyContent = 'center';
				icon.style.width = '40%';
				icon.style.borderRight = '1px solid rgba(11, 191, 35, 1)';
				label.style.display = 'flex';

				if (tooltip && (this.helpButton1 || this.helpButton2)) {
					document.getElementById(tooltip).style.visibility =
						'visible';
				}
			},

			ocultLabel(iconId, labelId, tooltip) {
				let icon = document.getElementById(iconId);
				let label = document.getElementById(labelId);
				label.style.width = '0px';
				label.style.display = 'none';
				icon.style.width = '100%';
				icon.style.borderRight = 'none';

				if (tooltip && (this.helpButton1 || this.helpButton2)) {
					document.getElementById(tooltip).style.visibility =
						'hidden';
					tooltip === 'tooltip1'
						? (this.helpButton1 = false)
						: (this.helpButton2 = false);
				}
			},

			effectScroll() {
				let buttonContainer = document.getElementsByClassName(
					'nav-button-container'
				);
				let navbar = document.getElementById('navbar');
				let navSection1 = document.getElementById('section1');
				let navSection2 = document.getElementById('section2');
				let navSection3 = document.getElementById('section3');
				let avatar = document.getElementById('my-avatar');
				let buttonCarIcon = document.getElementById('car-icon');
				let buttonCarLabel = document.getElementById('car-label');
				let button2Icon = document.getElementById('login-icon')
					? document.getElementById('login-icon')
					: document.getElementById('account-icon');
				let button2Label = document.getElementById('login-label')
					? document.getElementById('login-label')
					: document.getElementById('account-label');
				let button3Icon = document.getElementById('signIn-icon')
					? document.getElementById('signIn-icon')
					: document.getElementById('log-out-icon');
				let button3Label = document.getElementById('signIn-label')
					? document.getElementById('signIn-label')
					: document.getElementById('log-out-label');

				if (window.pageYOffset > 0) {
					navbar.style.background = 'white';
					navbar.style.borderBottom =
						'1px solid rgba(11, 191, 35, 1)';
					navSection3.style.marginLeft = 'auto';
					navSection2.style.width = '0px';
					navSection1.style.width = '60%';
					avatar.style.height = '140%';
					avatar.style.width = '20%';
					avatar.style.marginBottom = '-5%';
					buttonCarIcon.style.background = 'white';

					this.buttonCarIconColor = 'rgba(11, 191, 35, 1)';
					buttonCarLabel.style.background = 'white';
					button2Icon.style.background = 'white';

					this.buttonLoginIconColor = 'rgba(11, 191, 35, 1)';
					button2Label.style.background = 'white';
					button3Icon.style.background = 'white';

					this.buttonSignInIconColor = 'rgba(11, 191, 35, 1)';
					button3Label.style.background = 'white';

					for (let button of buttonContainer) {
						button.style.border = '1px solid rgba(11, 191, 35, 1)';
					}
				} else {
					navbar.style.background = 'rgb(8, 126, 24)';
					navbar.style.background =
						'linear-gradient(90deg,rgba(8, 126, 24, 1) 0%,rgba(11, 191, 35, 1) 28%,rgba(178, 232, 182, 1) 100%)';
					navbar.style.borderBottom = '1px solid white';
					navSection1.style.width = '20%';
					avatar.style.height = '165%';
					avatar.style.width = '80%';
					avatar.style.marginLeft = '65%';
					avatar.style.marginBottom = '-25%';

					for (let button of buttonContainer) {
						button.style.border = '1px solid white';
					}
				}
			},

			clickLabelPassword() {
				if (this.inputPassword === 'text') {
					this.inputPassword = 'password';
				} else {
					this.inputPassword = 'text';
				}
			},

			effectEnterButton(idLabel, idIcon) {
				let buttonLabel = document.getElementById(idLabel);
				let buttonIcon = document.getElementById(idIcon);
				buttonLabel.style.width = '80%';
				buttonIcon.style.display = 'flex';
				buttonIcon.style.alignItems = 'center';
				buttonIcon.style.justifyContent = 'center';
				buttonIcon.style.width = '20%';
			},

			effectLeaveButton(idLabel, idIcon) {
				let buttonLabel = document.getElementById(idLabel);
				let buttonIcon = document.getElementById(idIcon);
				buttonLabel.style.width = '80%';
				buttonIcon.style.display = 'none';
				buttonIcon.style.width = '0px';
			},

			showMsgError(errorMsg, input, inputValue) {
				errorMsg.style.height = '20%';
				errorMsg.style.visibility = 'visible';
				input.style.border = 'red 1px solid';
				this.valids[inputValue] = false;
			},
			hiddenMsgError(errorMsg, input, inputValue) {
				errorMsg.style.visibility = 'hidden';
				errorMsg.style.height = '0px';
				input.style.border = 'rgba(11, 191, 35, 1) 1px solid';
				this.valids[inputValue] = true;
			},

			validateName() {
				let errorMsg = document.getElementsByClassName('error-msg')[0];
				let name = document.getElementById('name');

				if (this.name === '') {
					this.errorMsgs.name = 'No debes dejar el Nombre vacío';
					this.showMsgError(errorMsg, name, 'name');
				} else {
					this.errorMsgs.name = '';
					this.hiddenMsgError(errorMsg, name, 'name');
				}
			},

			validatePassword() {
				let errorMsg = document.getElementsByClassName('error-msg')[1];
				let password = document.getElementById('password');

				if (this.password === '') {
					this.errorMsgs.password =
						'No debes dejar la Contraseña vacía';
					this.showMsgError(errorMsg, password, 'password');
					return;
				} else {
					this.errorMsgs.password = '';
					this.hiddenMsgError(errorMsg, password, 'password');
				}
			},

			clearName() {
				let errorMsg = document.getElementsByClassName('error-msg')[0];
				let name = document.getElementById('name');
				this.name = '';
				this.errorMsgs.name = '';
				this.hiddenMsgError(errorMsg, name, 'name');
				name.style.border = '1px solid black';
				name.style.borderLeft = 'none';
			},

			clearPassword() {
				let errorMsg = document.getElementsByClassName('error-msg')[1];
				let password = document.getElementById('password');
				this.password = '';
				this.errorMsgs.password = '';
				this.hiddenMsgError(errorMsg, password, 'password');
				password.style.border = '1px solid black';
				password.style.borderLeft = 'none';
			},

			OpenDialogCart() {
				if (!this.userLogin) {
					this.changeStateDialogAccess(true);
					this.changeStateAlertDialogAccessType('info');
					this.changeStateAlertDialogAccessMsg(
						'Inicia Sesión en Delicias Nortes Online Para disfrutar de la modalidad de pedidos'
					);
					this.changeStateAlertDialogAccessStyle('block');
					return;
				}

				this.changeStateDialogCart(true);
			},

			async login() {
				this.buttonLoading = true;
				this.changeStateAlertDialogAccessStyle('none');
				const axios = require('axios').default;
				let qs = require('qs');
				let response = '';
				let params = {
					name: this.name,
					password: this.password,
				};
				let url =
					'http://localhost:8888/client-login/?' +
					qs.stringify(params);
				let config = {
					method: 'post',
					url: url,
					validateStatus: function(status) {
						return (
							status === 200 ||
							status === 400 ||
							status === 401 ||
							status === 404 ||
							status === 500
						);
					},
				};
				this.validateName();
				this.validatePassword();

				for (let input in this.valids) {
					if (!this.valids[input]) {
						this.buttonLoading = false;
						return;
					}
				}

				try {
					response = await axios(config);
				} catch (error) {
					console.log('Error wey');
					this.buttonLoading = false;
					this.changeStateAlertDialogAccessType('error');
					this.changeStateAlertDialogAccessMsg(
						'Ocurrio un error interno, intentalo más tarde.'
					);
					this.changeStateAlertDialogAccessStyle('block');
					return;
				}

				switch (response.status) {
					case 200:
						localStorage.setItem(
							'DNATC',
							response.data.access_token
						);
						this.buttonLoading = false;
						this.changeStateDialogAccess(false);
						this.changeStateUserLogin(true);
						this.ChangeStateDialogLoginSuccess(true);
						break;

					case 401:
						this.changeStateAlertDialogAccessType('error');
						this.changeStateAlertDialogAccessMsg(
							'Este Usuario esta inactivo o fue elimnado'
						);
						this.changeStateAlertDialogAccessStyle('block');
						this.buttonLoading = false;
						break;

					case 404:
						this.changeStateAlertDialogAccessType('error');
						this.changeStateAlertDialogAccessMsg(
							'Nombre de Usuario o Contraseña Incorrecto'
						);
						this.changeStateAlertDialogAccessStyle('block');
						this.buttonLoading = false;
						break;

					case 500:
						this.changeStateAlertDialogAccessType('error');
						this.changeStateAlertDialogAccessMsg(
							'Ocurrio un error interno, intentalo más tarde'
						);
						this.changeStateAlertDialogAccessStyle('block');
						this.buttonLoading = false;
						break;
				}

				return;
			},

			async logOut() {
				const axios = require('axios').default;
				let response = '';
				let url = 'http://localhost:8888/log-out/?';
				let config = {
					method: 'delete',
					url: url,
					headers: {
						Authorization:
							'Bearer ' + localStorage.getItem('DNATC'),
					},
					validateStatus: function(status) {
						return (
							status === 200 || status === 401 || status === 500
						);
					},
				};

				try {
					response = await axios(config);
				} catch (error) {
					console.log('Error Cerrando sesión');
					return;
				}

				switch (response.status) {
					case 200:
						localStorage.removeItem('DNATC');
						this.changeStateUserLogin(false);
						this.changeStateDialogLogOutSuccess(true);
						this.clearName();
						this.clearPassword();
						this.helpButton1 = !this.helpButton2;
						this.helpButton2 = !!this.helpButton1;
						break;

					case 401:
					case 500:
						console.log('error interno');
						break;
				}
			},

			quantityDowngrade(item) {
				if (item.quantity == 0) {
					return;
				}
				item.quantity -= 1;
			},

			formatMoney(amount) {
				let strAmount = String(amount);
				let index = 3;

				if (strAmount.search('\\.') !== -1) {
					let decimal = strAmount.split('.')[1];
					strAmount = strAmount.split('.')[0];
					strAmount = strAmount.split('').reverse();

					while (index < strAmount.length) {
						strAmount.splice(index, 0, '.');
						index += 4;
					}

					strAmount = strAmount.reverse();
					strAmount.push(',');

					return strAmount.join('') + decimal;
				}

				strAmount = strAmount.split('').reverse();

				while (index < strAmount.length) {
					strAmount.splice(index, 0, '.');
					index += 4;
				}

				return strAmount.reverse().join('') + ',00';
			},

			getTotal() {
				let total = 0;
				for (let product of this.productsInCart) {
					total += product.quantity * product.unitPrice;
				}
				this.total = total;
				return total;
			},

			buy() {
				console.log(this.total);
			},
			...mapMutations([
				'changeStateDialogCart',
				'ChangeStateDialogLoginSuccess',
				'changeStateUserLogin',
				'changeStateDialogLogOutSuccess',
				'changeStateDialogAccess',
				'changeStateAlertDialogAccessType',
				'changeStateAlertDialogAccessMsg',
				'changeStateAlertDialogAccessStyle',
				'changeStateDialogEditAccount',
				'SetClient',
			]),
		},
	};
</script>
