<template>
	<div class="my-container">
		<vueper-slides
			class="no-shadow no-cursor"
			:visible-slides="3"
			:slide-ratio="1 / 2.9"
			:gap="3"
			slide-multiple
			:dragging-distance="80"
			transitionSpeed="1200"
			:touchable="false"
			:preventYScroll="true"
			:breakpoints="{ 800: { visibleSlides: 2, slideMultiple: 2 } }"
		>
			<template v-slot:arrow-left>
				<span class="arr_control">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</span>
			</template>

			<template v-slot:arrow-right>
				<span class="arr_control">
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
				</span>
			</template>
			<vueper-slide
				v-for="product in products"
				:key="product.id"
				:title="product.id.toString()"
				prevent-y-scroll
			>
				<template v-slot:content>
					<v-hover v-slot:default="{ hover }">
						<v-card class="my-card" height="95%">
							<v-img
								class="white--text align-end"
								height="30%"
								:src="product.img_url"
							>
								<div class="price" v-if="hover">
									{{ formatMoney(product.price) }} BsS
								</div>
								<v-expand-transition>
									<div
										v-if="hover"
										class="d-flex transition-fast-in-fast-out v-card--reveal display-3 text-center"
										style="height: 100%;color:white; font-size: 2.3rem !important;"
									></div>
								</v-expand-transition>
								<!-- <v-card-title
								>Top 10 Australian beaches</v-card-title
							> -->
							</v-img>

							<v-card-subtitle class="pb-0">{{
								product.name
							}}</v-card-subtitle>

							<v-card-text class="text--primary">
								<div>Aqui prodría ir...</div>

								<div>Una descripción</div>
							</v-card-text>

							<v-card-actions class="actions">
								<div class="buttons">
									<div
										class="button-container"
										@mouseenter="
											showLabel(
												'car-icon-' + product.id,
												'car-label-' + product.id
											)
										"
										@mouseleave="
											ocultLabel(
												'car-icon-' + product.id,
												'car-label-' + product.id
											)
										"
										@click="addProductToCart(product)"
									>
										<div
											class="icon-container"
											:id="'car-icon-' + product.id"
										>
											<v-icon :color="buttonCarIconColor"
												>mdi-cart-plus</v-icon
											>
										</div>
										<div
											class="button-label"
											:id="'car-label-' + product.id"
										>
											Añadir al Carrito
										</div>
									</div>
								</div>
							</v-card-actions>
						</v-card>
					</v-hover>
				</template>
			</vueper-slide>
			<!-- <template
				v-slot:bullets="{ bulletIndexes, goToSlide, currentSlide }"
			>
				<span
					v-for="(slideIndex, i) in bulletIndexes"
					:key="i"
					:class="{ active: currentSlide === slideIndex }"
					@click="goToSlide(slideIndex)"
				>
					<i
						class="fa circle "
						:class="[
							active ? 'fa-check-circle' : 'fa-dot-circle-o'
						]"
					></i>
				</span>
			</template> -->
		</vueper-slides>
	</div>
</template>

<style scoped>
	.my-container {
		margin: 3vh auto;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.vueperslides__track {
		position: relative !important;
		padding: 25px 0;
	}

	.vueperslides__track-inner {
		justify-content: center;
	}

	.vueperslides__parallax-wrapper {
		padding: 0 !important;
	}
	.arr_control i {
		color: #42b983;
		font-size: 2em;
	}
	.circle {
		color: #000;
		font-size: 1em;
		margin: 0 7.5px;
		translate: all 0.25s linear;
	}
	.active i {
		color: #42b983 !important;
		font-size: 1em;
		margin: 0 10px;
	}
	.vueperslides__bullet .default {
		background-color: rgba(0, 0, 0, 0.3);
		border: none;
		box-shadow: none;
		transition: 0.3s;
		width: 16px;
		height: 16px;
	}

	.vueperslides__bullet--active .default {
		background-color: #42b983;
	}

	.vueperslides__bullet span {
		display: block;
		color: #fff;
		font-size: 10px;
		opacity: 0.8;
	}
	.v-card--reveal {
		align-items: center;
		bottom: 0;
		justify-content: center;
		opacity: 0.7;
		position: absolute;
		width: 100%;
		background: #29c63e;
		z-index: 1;
	}

	.price {
		position: relative;
		color: white;
		z-index: 3;
		font-size: 2.3rem;
		text-align: center;
		height: 100%;
	}
	.buttons {
		width: 95%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.button-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		cursor: pointer;
		height: 60%;
		width: 90%;
		border: 1px solid #29c63e;
	}

	.icon-container {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: white;
		transition-property: width;
		transition-duration: 0.2s;
	}

	.button-label {
		background: white;
		color: #29c63e;
		height: 100%;
		width: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}
	.my-card {
		height: 90%;
		display: flex;
		flex-direction: column;
	}

	.actions {
		height: 20%;
		align-items: center;
		justify-content: center;
	}
</style>

<script>
	import { mapState, mapMutations } from 'vuex';
	import { VueperSlides, VueperSlide } from 'vueperslides';
	import 'vueperslides/dist/vueperslides.css';

	export default {
		name: 'Products',
		components: { VueperSlides, VueperSlide },
		data() {
			return {
				buttonCarIconColor: '#42b983',
				products: [],
			};
		},

		computed: {
			...mapState(['dialogCart', 'productsInCart', 'UserLogin']),
		},

		mounted() {
			this.getProducts();
			this.setStyleVuuperSlide();
		},

		methods: {
			setStyleVuuperSlide() {
				let vueperslidesTrackInner = document.getElementsByClassName(
					'vueperslides__track-inner'
				)[0];
				vueperslidesTrackInner.style.justifyContent = 'center';
			},

			showLabel(iconId, labelId) {
				let icon = document.getElementById(iconId);
				let label = document.getElementById(labelId);
				label.style.width = '60%';
				label.style.justifyContent = 'center';
				icon.style.width = '40%';
				icon.style.borderRight = '1px solid rgba(11, 191, 35, 1)';
				label.style.display = 'flex';
			},

			ocultLabel(iconId, labelId) {
				let icon = document.getElementById(iconId);
				let label = document.getElementById(labelId);
				label.style.width = '0px';
				label.style.display = 'none';
				icon.style.width = '100%';
				icon.style.borderRight = 'none';
			},

			async getProducts() {
				const axios = require('axios').default;
				let response = '';
				let url = 'http://localhost:8888/product/';
				let config = {
					method: 'get',
					url: url,
					validateStatus: function(status) {
						return (
							status === 200 ||
							status === 400 ||
							status === 404 ||
							status === 500
						);
					},
				};

				try {
					response = await axios(config);
				} catch (error) {
					console.log('****************ERROR***********************');
					return;
				}

				switch (response.status) {
					case 200:
						this.products = response.data;
						break;

					case 400:
						console.log(response.data);
						break;

					case 404:
						console.log(response.data);
						break;

					case 500:
						console.log(response.data);
						break;
				}
			},

			addProductToCart(product) {
				this.changeStateDialogCart(true);
				let product_data = {
					id: product.id,
					name: product.name,
					quantity: 1,
					unitPrice: product.price,
					total: product.price,
				};

				this.changeStateProductInCart(product_data);
			},

			formatMoney(amount) {
				let strAmount = String(amount);
				let index = 3;

				if (strAmount.search('\\.') !== -1) {
					let decimal = strAmount.split('.')[1];
					strAmount = strAmount.split('.')[0];
					strAmount = strAmount.split('').reverse();

					while (index < strAmount.length) {
						strAmount.splice(index, 0, '.');
						index += 4;
					}

					strAmount = strAmount.reverse();
					strAmount.push(',');

					return strAmount.join('') + decimal;
				}

				strAmount = strAmount.split('').reverse();

				while (index < strAmount.length) {
					strAmount.splice(index, 0, '.');
					index += 4;
				}

				return strAmount.reverse().join('') + ',00';
			},

			...mapMutations([
				'changeStateDialogCart',
				'changeStateProductInCart',
			]),
		},
	};
</script>
