<template>
	<div class="my-container">
		<div class="section1">Horarios de Atención:</div>
		<div class="section2">Lunes a Viernes de 7 a.m hasta las 5 p.m</div>
	</div>
</template>

<style scoped>
	.my-container{
		background: #61B452;
		height: 20vh;
		margin: 13vh auto;
		display: flex;
		width: 80%;

		
	}

	.section1{

	}
</style>

<script>
	export default {
		name: 'Schedule',
	};
</script>