<template>
	<div class="my-container" :style="divStyle">
		<div class="msg1">
			<span>{{ msg }}</span>
		</div>
		<div class="msg2">
			<span>{{ msg2 }}</span>
		</div>
	</div>
</template>

<style scoped>
	.my-container {
		margin: 2vh auto;
		display: flex;
		flex-direction: column;
		height: 30vh;
		width: 100%;
		background: white;
	}

	.my-container > .msg1,
	.msg2 {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		font-family: 'Dancing Script';
		font-size: 3.2rem;
	}

	.my-container > .msg1 {
		height: 60%;
		text-align: center;
		color: black;
	}

	.my-container > .msg2 {
		height: 20%;
		color: rgba(11, 191, 35, 1);
	}
</style>

<script>
	export default {
		name: 'SloganCard',

		data: () => ({
			msg: 'Ofrecemos A Diario Nuestros Mejores Servicios.',
			msg2: '¡Somo Más Que Solo Un Market!',
			divStyle: {
				// backgroundImage: 'url(' + require('@/assets/bg-1.png') + ')',
				// backgroundRepeat: 'no-repeat',
				// backgroundSize: 'cover'
			}
		})
	};
</script>
