<template>
	<div class="title">
		<span class="content">{{ content }}</span>
	</div>
</template>

<style scoped>
	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(255, 255, 255);
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(24, 191, 47, 1) 26%,
			rgba(24, 191, 47, 1) 50%,
			rgba(24, 191, 47, 1) 74%,
			rgba(255, 255, 255, 1) 100%
		);
		width: 100vw;
		height: 10vh;
		text-align: center;
		padding: 1% 0;
		margin-bottom: 2%;
		color: white;
	}
	.content {
		font-size: 2rem;
		font-family: cursive;
	}
</style>
<script>
	export default {
		name: 'Title',
		props: ['content']
	};
</script>
