<template>
  <v-app :style="divStyle">
    <router-view></router-view>
  </v-app>
</template>

<script>
export default {
  data(){
      return{
        divStyle : {
          // backgroundImage: 'url(' + require('@/assets/bg-1.png') + ')',
          // backgroundRepeat: 'no-repeat',
          // backgroundSize: 'cover'
          }
      }
    }
}
</script>>